extends ../components/base/layout

block variables
  - const title = "История компании"; //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = "wrapper--blue";
  - const hasHeader = true;
  - const headerMods = "";
  - const hasFooter = true;
  - const footerMods = "";
  - const currentUrl = "history.html"; //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.page-info.history
    include ../components/data
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    include ../components/history/history
block modals
