extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = "wrapper--blue"
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "shop-login-register.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.login
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    include  ../components/shop/login-register

block modals
