.main-excursion {
  &__headline {
    margin: vc(15) 0 vc(15);
    font-weight: 700;
    font-size: vc(24);
    line-height: 1.2;
    font-family: $ff-geometria;
    color: $color-arapawa;
    text-align: center;
    width: 100%;
    @include stroke(4, $color-default-white);

    @include tablet {
      text-align: left;
      margin-top: vc(35);
      margin-bottom: vc(35);
      font-size: vc(40);
      @include stroke(11, $color-default-white);

      br {
        display: none;
      }
    }

    @include desktop {
      margin: vc(25) 0 vc(65);
      padding-right: vc(90);
      font-size: vc(55);
      text-align: left;
      text-indent: vc(-90);
      br {
        display: block;
      }
    }
  }

  &__content>p {
    margin: 0;
    color: $color-arapawa;
    font-size: vc(16);
    opacity: 0.7;

    @include tablet {
      font-size: vc(20);
    }
  }

  &__content>p:not(:last-of-type) {
    margin-bottom: vc(15);

    @include tablet {
      margin-bottom: vc(20);
    }

    @include desktop {
      padding-right: vc(110);
    }
  }

  &__content b {
    font-size: vc(18);
    @include stroke(4, $color-default-white);

    @include tablet {
      font-size: vc(18);
    }
  }

  &__actions {
    margin-top: vc(20);
    text-align: center;

    @include tablet {
      margin-top: vc(25);
    }

    @include desktop {
      margin-top: vc(68);
      text-align: left;
    }
  }

  &__action {
    border-bottom-right-radius: vc(15);

    @include desktop {
      border-bottom-right-radius: vc(30);
    }

    @include hover-focus {
      color: $color-default-white;

      .button__icon {
        transform: translateY(-55%) scale(.9);
      }
    }

    .button__icon {
      right: vc(-83);
      width: vc(130);
      height: vc(130);
      background-image: url(../img/decoration-buttons/excursion-btn.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      will-change: transform;

      @include tablet {
        right: vc(-90);
        width: vc(140);
        height: vc(140);
      }

      @include desktop {
        right: vc(-110);
        width: vc(180);
        height: vc(180);
      }
    }
  }

  &__grid {
    display: grid;
    gap: vc(45);

    @include desktop {
      // grid-template-columns: repeat(2, calc((100% - vc(45)) / 2));
      grid-template-columns: repeat(2, calc((100% + vc(65))/2));
    }
  }

  &__pictures {
    position: relative;

    @include tablet {
      padding-right: vc(100);
    }

    @include desktop {
      padding-right: vc(130);
    }
  }

  &__picture {
    border: vc(2) solid #ffffff;
    border-radius: vc(20);
    overflow: hidden;
  }

  &__picture--2 {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(vc(30));
    max-width: vc(185);

    @include tablet {
      transform: translateY(vc(12));
      max-width: vc(280);
    }

    @include desktop {
      max-width: vc(335);
    }
  }

  &__picture img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
