mixin slider-progress()
  .slider-progress
    svg(viewbox='0 0 80 80', data-name='slider-progress')
      circle(data-name='progress' stroke='#F47920' stroke-linejoin="round" stroke-width='5' cx='40' cy='40' r='35' fill='transparent')
