.catalog-products {
  $block-name: &; // #{$block-name}__element

  /**
  * 1. Сетка
  */

  &__grid {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-right: calc(vc(20) / -2);
    margin-left: calc(vc(20) / -2);
    margin-bottom: vc(60);
    padding-top: vc(30);

    @include tablet {
      margin-bottom: vc(40);
    }

    @include desktop {
      padding-top: vc(70);
      margin-right: calc(vc(75) / -2);
      margin-left: calc(vc(75) / -2);
      margin-bottom: vc(-55);
    }
  }

  &__grid>&__item {
    max-width: calc(100% / 2);
    width: 100%;
    padding-right: calc(vc(20) / 2);
    padding-left: calc(vc(20) / 2);
    padding-bottom: vc(10);

    @include tablet {
      max-width: calc(100% / 3);
    }

    @include desktop {
      padding-right: calc(vc(75) / 2);
      padding-left: calc(vc(75) / 2);
      padding-bottom: vc(90);
    }
  }

  /**
  * 2. Базовые элементы
  */

  &__wrapper {
    position: relative;
    margin-top: vc(25);
    background-color: $color-alice-blue-1;

    @include tablet {
      margin-top: vc(70);
    }

    @include desktop {
      margin-top: vc(135);
    }
  }

  &__decoration-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
  }

  &__actions {
    position: relative;
    z-index: 5;
    padding-bottom: vc(90);
    text-align: center;

    @include tablet {
      padding-bottom: vc(55);
    }

    @include desktop {
      padding-bottom: vc(190);
    }
  }

  &__action {
    position: relative;
    display: block;
    max-width: vc(195);
    width: 100%;
    margin: 0 auto;
    padding: vc(20) vc(35) vc(15) vc(15);
    font-weight: 700;
    font-size: vc(14);
    line-height: 1.35;
    text-align: center;
    color: $color-default-white;
    background-color: transparent;
    background-image: url(../img/decoration-buttons/catalog-more-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    will-change: transform;

    transition: color $trans-300, transform $trans-300;

    @include tablet {
      max-width: vc(220);
      padding: vc(30) vc(50) vc(20) vc(40);
      font-size: vc(16);

      background-image: url(../img/decoration-buttons/catalog-more-md.svg);
    }

    @include desktop {
      max-width: vc(250);
      padding: vc(30) vc(60) vc(20) vc(40);
      font-size: vc(18);
      background-image: url(../img/decoration-buttons/catalog-more-lg.svg);
    }

    @include hover-focus {
      color: $color-default-white;
      transform: scale(1.1);

      &::before {
        transform: translateY(-50%) scale(0.95);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: vc(-20);
      transform: translateY(-50%);
      display: block;
      width: vc(74);
      height: vc(74);
      background-image: url(../img/decoration-buttons/catalog-more-icon.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      transition: transform $trans-300;

      @include tablet {
        right: vc(-25);
        width: vc(85);
        height: vc(85);
      }

      @include desktop {
        width: vc(100);
        height: vc(100);
      }
    }
  }

  /**
  * 3. Декоративные элементы
  */

  &__decoration {
    &--header {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding-bottom: 100%;
      user-select: none;
      pointer-events: none;
    }

    &--header-1 {
      top: vc(-25);
      z-index: 0;
      background-color: $color-solitude;
      background-image: linear-gradient(180deg,
          #ddedff 0%,
          rgba(238, 246, 255, 0) 25%);
      clip-path: url(#svgClipCatalogDecorationHeaderLayer1Lg);

      @include tablet {
        top: vc(-70);
      }

      @include desktop {
        top: vc(-135);
      }
    }

    &--header-2 {
      top: vc(-10);
      z-index: 1;
      backdrop-filter: blur(10);
      background-color: rgba($color: $color-pattens-blue-2, $alpha: 0.7);
      clip-path: url(#svgClipCatalogDecorationHeaderLayer2Lg);

      @include tablet {
        top: vc(-55);
      }

      @include desktop {
        top: vc(-120);
      }
    }

    &--header-3 {
      top: vc(20);
      z-index: 2;
      background-color: $color-pattens-blue-2;
      background: linear-gradient($color-pattens-blue-2, $color-alice-blue-1);
      clip-path: url(#svgClipCatalogDecorationHeaderLayer3Lg);

      @include tablet {
        top: vc(-35);
      }

      @include desktop {
        top: vc(-100);
      }
    }

    &--footer {
      position: absolute;
      right: 0;
      left: 0;
      bottom: vc(-50);
      z-index: 3;
      display: none;
      height: vc(800);
      background-image: url("../img/decoration/catalog-decoration-footer.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      user-select: none;
      pointer-events: none;

      @include desktop {
        display: block;
      }

      @mixin retina {
        background-image: url("../img/decoration/catalog-decoration-footer@2x.png");
      }
    }

    &--berry {
      position: absolute;
      z-index: 4;
      display: none;
      width: vc(220);
      height: vc(220);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include tablet {
        display: block;
      }
    }

    &--berry-1 {
      bottom: vc(700);
      left: vc(-80);
      background-image: url(../img/decoration/catalog-parallax-6.png);

      @include retina {
        background-image: url(../img/decoration/catalog-parallax-6@2x.png);
      }

      @include desktop {
        bottom: vc(1545);
        left: vc(70);
      }
    }

    &--berry-2 {
      right: vc(-110);
      bottom: vc(740);
      background-image: url(../img/decoration/catalog-parallax-7.png);

      @include retina {
        background-image: url(../img/decoration/catalog-parallax-7@2x.png);
      }

      @include desktop {
        right: vc(-80);
        bottom: vc(1440);
      }
    }

    &--berry-3 {
      right: vc(-75);
      bottom: vc(90);
      background-image: url(../img/decoration/catalog-parallax-8.png);

      @include retina {
        background-image: url(../img/decoration/catalog-parallax-8@2x.png);
      }

      @include desktop {
        right: vc(85);
        bottom: vc(315);
      }
    }

    &--berry-4 {
      top: vc(-125);
      right: vc(100);
      z-index: 0;
      width: vc(220);
      height: vc(220);
      background-image: url(../img/decoration/catalog-parallax-5.png);

      @include retina {
        background-image: url(../img/decoration/catalog-parallax-5@2x.png);
      }

      @include desktop {}
    }

    &--berry-5 {
      top: vc(75);
      right: vc(-30);

      background-image: url(../img/decoration/catalog-parallax-9.png);

      @include retina {
        background-image: url(../img/decoration/catalog-parallax-9@2x.png);
      }

      @include desktop {
        top: vc(125);
        right: vc(-20);
        width: vc(330);
        height: vc(330);
      }
    }

    &--berry-6 {
      top: vc(595);
      left: vc(-50);

      background-image: url(../img/decoration/catalog-parallax-10.png);

      @include retina {
        background-image: url(../img/decoration/catalog-parallax-10@2x.png);
      }

      @include desktop {
        top: vc(1595);
        left: vc(-30);
        width: vc(330);
        height: vc(330);
      }
    }

    &--berry-7 {
      bottom: vc(-45);
      right: vc(-230);
      width: vc(440);
      height: vc(440);
      background-image: url(../img/decoration/catalog-parallax-11.png);

      @include retina {
        background-image: url(../img/decoration/catalog-parallax-11@2x.png);
      }

      @include desktop {
        bottom: vc(-145);
        right: vc(-330);
        width: vc(730);
        height: vc(730);
      }
    }
  }
}
