mixin production-intro()
  section.production-intro&attributes(attributes)
    .production-intro__wrapper
      h1.production-intro__headline!= "Производство мороженого"

      article.production-intro__article
        h2.production-intro__subtitle!= "Компания «Бодрая Корова» — это не просто фабрика."
        p.production-intro__text!= ""
