-
  const mainBannerData = {
    headline: "Мороженое, <br/>которое&nbsp;ты <span>любишь!</span>",
    subtitle: "Попробуй вкус настоящего натурального мороженого от производителя уже сегодня!",
    paginationTitle: "Популярные товары:",
    slides: [
      {
        color: "#DAD7FF",
        baseImage: {
          path: "slides/main-banner",
          image: 1,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-1", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-1", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 1, "png", 120, 210],
      },
      {
        color: "#FFD7D7",
        baseImage: {
          path: "slides/main-banner",
          image: 2,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-2", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-2", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 2, "png", 120, 210],
      },
      {
        color: "#BADEFF",
        baseImage: {
          path: "slides/main-banner",
          image: 3,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-3", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-3", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 3, "png", 120, 210],
      },
      {
        color: "#FFF1D7",
        baseImage: {
          path: "slides/main-banner",
          image: 4,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-4", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-4", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 4, "png", 120, 210],
      },
      {
        color: "#DAD7FF",
        baseImage: {
          path: "slides/main-banner",
          image: 5,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-5", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-5", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 5, "png", 120, 210],
      },
      {
        color: "#D7FFFF",
        baseImage: {
          path: "slides/main-banner",
          image: 6,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-6", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-6", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 6, "png", 120, 210],
      },
      {
        color: "#FFD7D7",
        baseImage: {
          path: "slides/main-banner",
          image: 7,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-7", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-7", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 7, "png", 120, 210],
      },
      {
        color: "#DAD7FF",
        baseImage: {
          path: "slides/main-banner",
          image: 8,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-8", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-8", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 8, "png", 120, 210],
      },
      {
        color: "#FFF1D7",
        baseImage: {
          path: "slides/main-banner",
          image: 9,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-9", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-9", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 9, "png", 120, 210],
      },
      {
        color: "#FFD7D7",
        baseImage: {
          path: "slides/main-banner",
          image: 10,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-10", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-10", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 10, "png", 120, 210],
      },
      {
        color: "#DAD7FF",
        baseImage: {
          path: "slides/main-banner",
          image: 11,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-11", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-11", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 11, "png", 120, 210],
      },
      {
        color: "#D7FFFF",
        baseImage: {
          path: "slides/main-banner",
          image: 12,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-12", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-12", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 12, "png", 120, 210],
      },
      {
        color: "#BADEFF",
        baseImage: {
          path: "slides/main-banner",
          image: 13,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-13", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-13", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 13, "png", 120, 210],
      },
      {
        color: "#DAD7FF",
        baseImage: {
          path: "slides/main-banner",
          image: 14,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-14", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-14", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 14, "png", 120, 210],
      },
      {
        color: "#FFF1D7",
        baseImage: {
          path: "slides/main-banner",
          image: 15,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-15", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-15", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 15, "png", 120, 210],
      },
      {
        color: "#D7FFFF",
        baseImage: {
          path: "slides/main-banner",
          image: 16,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-16", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-16", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 16, "png", 120, 210],
      },
      {
        color: "#FFD7D7",
        baseImage: {
          path: "slides/main-banner",
          image: 17,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-17", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-17", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 17, "png", 120, 210],
      },
      {
        color: "#DAD7FF",
        baseImage: {
          path: "slides/main-banner",
          image: 18,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-18", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-18", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 18, "png", 120, 210],
      },
      {
        color: "#FFF1D7",
        baseImage: {
          path: "slides/main-banner",
          image: 19,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-19", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-19", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 19, "png", 120, 210],
      },
      {
        color: "#D7FFFF",
        baseImage: {
          path: "slides/main-banner",
          image: 20,
          format: "png",
          altText: "Мороженое",
        },
        backgroundImage: ["slides/main-banner/background", "lg-20", "png", 1040, 1040],
        foregroundImage: ["slides/main-banner/foreground", "lg-20", "png", 1040, 1040],
        thumbnailImage: ["slides/main-banner/thumbnail", 20, "png", 120, 210],
      },
    ],
  }

mixin main-banner-image(props)
  aside.main-banner-image
    - const { path, format, image, altText} = props.baseImage;
    .main-banner-image__inner
      +picture(...props.backgroundImage).main-banner-image__background-image
      picture
        source(srcset="img/" + path + "/" + "lg-" + image + ".webp" + ", " + "img/" + path + "/" + "lg-" + image + "@2x.webp" + " 2x", media="(min-width: 1023px)", type='image/webp')
        source(srcset="img/" + path + "/" + "lg-" + image + "." + format + ", " + "img/" + path + "/" + "lg-" + image + "@2x.webp" + " 2x", media="(min-width: 1023px)")
        source(srcset="img/" + path + "/" + "md-" + image + ".webp" + ", " + "img/" + path + "/" +  "md-" + image + "@2x.webp" + " 2x",
        media="(min-width: 744px)", type='image/webp')
        source(srcset="img/" + path + "/" + "md-" + image + "." + format + ", " + "img/" + path + "/" +  "md-" + image + "@2x.webp" + " 2x", media="(min-width: 744px)")
        source(srcset="img/" + path + "/" + "sm-" + image + ".webp" + ", " + "img/" + path + "/" + "sm-" + image + "@2x.webp" + " 2x", type='image/webp')
        img(src="img/" + path + "/" + "sm-" + image + "." + format, srcset= "img/" + path + "/" + "sm-" + image + "@2x." + format + " 2x", alt= altText).main-banner-image__base-image
      +picture(...props.foregroundImage).main-banner-image__foreground-image

mixin main-banner(props)
  section.main-banner(data-slider-container)&attributes(attributes)
    .main-banner__animeel
    .main-banner__wrapper
      .main-banner__layer-background
        .swiper(data-main-banner-slider, data-delay="750", data-speed="10000")
          .parallax-bg(style="background-image:url(img/slides/parallax-bg.svg)", data-swiper-parallax="-35%")
          .swiper-wrapper
            each slide in props.slides
              .swiper-slide
                .main-banner-item
                  .main-banner-item__wrapper
                    .main-banner-item__image-wrapper
                      +main-banner-image(slide)
                    .container
                      .main-banner-item__content
                        p.main-banner-item__headline!= props.headline
                        .main-banner-item__group
                          p.main-banner-item__subtitle!= props.subtitle
                          a.main-banner-item__play(href="#", data-open-modal="banner-play", aria-label="Открыть видео")

      .main-banner__layer-foreground
        .container
          .main-banner__stack
            .main-banner__desc!= "Популярные товары:"
            .main-banner__pagination.main-banner-pagination
              .swiper(data-sal="fade", data-sal-delay="400" data-pagination)
                .swiper-wrapper

                  each slide in props.slides

                    .swiper-slide.main-banner-pagination__slide
                      .main-banner-bullet
                        button.main-banner-bullet__btn(type="button", data-bullet, style="background-color: " + slide.color)
                          +picture(...slide.thumbnailImage)

            .main-banner__controls
              .main-banner__controls-inner
                +btn-prev({text: "Сюда"})(data-btn-prev)
                +slider-progress()
                +btn-next({text: "Туда"})(data-btn-next)
