mixin custom-file(options = {})
  - const inputLabel = options.inputLabel ? options.inputLabel : false;
  - const inputId = options.inputId ? options.inputId : false;
  - const inputName = options.inputName ? options.inputName : false;

  .custom-file.form__input&attributes(attributes)
    label
      input.visually-hidden(type="file", id=inputId, name=inputName, multiple)
      span.custom-file__label!=inputLabel
