.product-form {
  &__wrapper {
    position: relative;
    z-index: 10;
    padding: vc(40) vc(10) vc(20);
    background-color: $color-pattens-blue-2;
    border-radius: vc(30);
    box-shadow: 0 vc(15) vc(30) vc(-4) rgba(43, 69, 94, 0.06);
    overflow: hidden;

    @include tablet {
      padding: vc(60) vc(40) vc(25);
      border-radius: vc(40);
    }

    @include desktop {
      padding: vc(75) vc(75) vc(35);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-image: url("../img/stack-products-bg.jpg");
      background-repeat: no-repeat;
      background-size: vc(1600) auto;
      pointer-events: none;
      user-select: none;
      opacity: 0.04;

      @include retina {
        background-image: url("../img/stack-products-bg@2x.jpg");
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 0 vc(2) $color-default-white,
        0 vc(15) vc(30) vc(-4) rgba(43, 69, 94, 0.06);
      border-radius: vc(30);
      pointer-events: none;
      user-select: none;

      @include tablet {
        border-radius: vc(40);
        box-shadow: inset 0 0 0 vc(5) $color-default-white,
          0 vc(15) vc(30) vc(-4) rgba(43, 69, 94, 0.06);
      }

      @include desktop {
        box-shadow: inset 0 0 0 vc(11) $color-default-white,
          0 vc(15) vc(30) vc(-4) rgba(43, 69, 94, 0.06);
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
    gap: vc(20);
    max-width: 100%;
    width: 100%;
  }

  &__row {
    display: grid;
    margin: 0;
    padding: 0;
    gap: vc(20);
    max-width: 100%;
    width: 100%;

    @include tablet {
      grid-template-columns: repeat(2, calc((100% - vc(20)) / 2));
      column-gap: vc(20);
      row-gap: vc(25);
    }

    @include desktop {
      grid-template-columns: repeat(2, calc((100% - vc(30)) / 2));
      column-gap: vc(30);
      row-gap: vc(20);
    }
  }

  &__row--wide {
    @include tablet {
      grid-template-columns: auto;
    }

    @include desktop {
      grid-template-columns: auto;
    }
  }

  &__row--wrapper {
    gap: vc(20);

    @include tablet {
      grid-template-columns: 100%;
    }

    @include desktop {
      grid-template-columns: calc(100% - vc(520) - vc(20)) vc(520);
    }
  }

  &__row--wrapper>&__col {
    display: grid;
    gap: vc(20);
  }

  &__textarea-decoration {
    position: relative;

    @include tablet {
      background-color: transparent;
      background-image: url(../img/svg/main-contact-us-textarea-md.svg);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100%;
    }

    @include desktop {
      background-image: url(../img/svg/main-contact-us-textarea-lg-medium.svg);
    }
  }

  &__textarea.form__message textarea {
    min-height: vc(270);
    border-radius: vc(5);
    clip-path: url(#svgClipTextareaSm);
    box-shadow: none;

    &::placeholder {
      max-width: 100%;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @include tablet {
      min-height: vc(145);
      height: vc(145);
      max-width: calc(100% - vc(230));
      padding-right: vc(10);
      clip-path: none;
      background-color: transparent;
    }

    @include desktop {
      min-height: vc(250);
      height: vc(250);
    }
  }

  &__actions {
    margin-top: vc(10);
    padding: 0 vc(30);
    text-align: center;

    @include tablet {
      padding: 0;
      margin-top: vc(-70);
      text-align: right;
    }

    @include desktop {
      margin-top: vc(-60);
    }
  }

  &__action {
    max-width: 100%;
    width: 100%;
    border-radius: vc(12);
    will-change: transform;
    transition: color $trans-300, transform $trans-300;

    @include hover-focus {
      color: $color-default-white;
      transform: scale(1.1);
    }

    @include tablet {
      max-width: vc(170);
      padding-bottom: vc(10);
    }

    @include desktop {
      padding-right: vc(10);
      padding-left: vc(10);
      padding-bottom: vc(20);
      max-width: vc(210);
    }

    &::after {
      top: vc(-10);
      transform: rotateZ(4deg) skewX(2deg);
      border-radius: vc(12) vc(12) 0 0;

      @include desktop {
        top: vc(-8);
      }
    }
  }

  &__action--show-mobile {
    @include desktop {
      display: none;
    }
  }

  &__action--show-desktop {
    display: none;

    @include desktop {
      display: inline-flex;
    }
  }

  &__copy {
    margin: 0;
    font-size: vc(14);
    line-height: 1.35;
    text-align: center;
    opacity: 0.4;

    @include tablet {
      font-size: vc(16);
      text-align: left;
    }

    @include desktop {
      font-size: vc(14);
      text-align: right;
    }
  }

  &__copy a {
    transition: color $trans-300;
    text-decoration: underline;

    @include hover-focus {
      color: $color-pumpkin;
    }
  }
}
