mixin product-tabs()
  .product-tabs&attributes(attributes)
    .product-tabs__wrapper
      .container
        .product-tabs__tab(data-tabs='parent', data-delay='300')
          .product-tabs__controls(data-tabs='controls')
            button.product-tabs__control(type='button', data-tabs='control') Контакты
            button.product-tabs__control(type='button', data-tabs='control') О бренде
            button.product-tabs__control(type='button', data-tabs='control') Способы оплаты
            button.product-tabs__control(type='button', data-tabs='control') Условия доставки
            button.product-tabs__control(type='button', data-tabs='control') Где забрать
          .product-tabs__content(data-tabs='content')
            .product-tabs__element(data-tabs='element')
              .product-tabs__contact
                .product-tabs__contact-info
                  .product-tabs__contact-box
                    p.product-tabs__text ООО ТД «Белгородский Хладокомбинат», ТМ «Бодрая корова» 308017 Российская Федерация, г. Белгород, ул. Дзгоева, 1.
                    .product-tabs__contact-item
                      p.product-tabs__lead Режим работы
                      p.product-tabs__text
                        |понедельник-четверг с 8.30 до 17.30
                        br
                        | пятница с 8.30 до 16.15
                        br
                        | суббота-воскресенье – выходной
                    .product-tabs__contact-item
                      p.product-tabs__lead Телефоны
                      p.product-tabs__text По вопросам качества продукции
                        br
                        a(href="tel:8-800-200-19-59").product-tabs__text-phone 8-800-200-19-59
                      p.product-tabs__text По вопросам доставки
                        br
                        a(href="tel:+7 (4722) 21-51-32").product-tabs__text-phone +7 (4722) 21-51-32
                      p.product-tabs__text По техничесим вопросам работы сайта
                        br
                        a(href="tel:+7 (4722) 21-33-10").product-tabs__text-phone +7 (4722) 21-33-10
                    .product-tabs__contact-item
                      p.product-tabs__lead Электронная почта
                      p.product-tabs__text
                        a(href="mailto:yo-ice@belhlado.ru").product-tabs__text-mail yo-ice@belhlado.ru

                  .product-tabs__contact-requisites
                    p.product-tabs__text
                      b Реквизиты:
                    p.product-tabs__text
                      b
                        | ОГРН: 1023101645951
                        br
                        | ИНН: 3123084510
                        br
                        | КПП: 312301001
                .product-tabs__map
                  iframe(src='https://yandex.ru/map-widget/v1/?ll=36.587272%2C50.595415&mode=poi&poi%5Bpoint%5D=36.587260%2C50.595414&poi%5Buri%5D=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1MzA1NzQxMhIe0KDQvtGB0YHQuNGPLCDQkdC10LvQs9C%2B0YDQvtC0IgoNXlkSQhW0YUpC&z=12' frameborder='0' allowfullscreen='true')
              .product-tabs__contact
                +product-form().product-tabs__product-form

            .product-tabs__element(data-tabs='element')
              .product-tabs__brand
                p.product-tabs__title О бренде
                .product-tabs__col
                  p.product-tabs__text.product-tabs__text--1 В 2014 году, вдохновленные идеей создания сети кафе-мороженого высочайшего уровня, наши специалисты во главе с маркетологами начали проект по производству непревзойденно вкусного мороженого.
                .product-tabs__col
                  .product-tabs__logo
                    +img("tabs", "eice", "png")
                  p.product-tabs__text.product-tabs__text--2 К началу 2015 года нам удалось воплотить наш проект в жизнь: собрать коллекцию уникальных вкусов мороженого, разработать фирменный стиль торговой марки “Ё-айс”, визуализировать наши идеи в оформлении торговых островков.
                .product-tabs__box
                  p.product-tabs__lead #[span "Ё-айс" - это натуральное мороженое] с разнообразной палитрой вкусов, каждый из которых надо непременно попробовать и выбрать лучшее на Ваш вкус!
                  p.product-tabs__lead При заказе мороженого через интернет-магазин "Ё-айс" вы дополнительно #[span экономите до 50%] от стоимости мороженого в торговых точках.
                .product-tabs__gallery
                  a(href="img/tabs/g-1@2x.png" data-fslightbox="gallery").product-tabs__gallery-item
                    +img("tabs", "g-1", "png")
                  a(href="img/tabs/g-2@2x.png" data-fslightbox="gallery").product-tabs__gallery-item
                    +img("tabs", "g-2", "png")
                  a(href="img/tabs/g-3@2x.png" data-fslightbox="gallery").product-tabs__gallery-item
                    +img("tabs", "g-3", "png")
                  a(href="img/tabs/g-4@2x.png" data-fslightbox="gallery").product-tabs__gallery-item
                    +img("tabs", "g-4", "png")
                  a(href="img/tabs/g-5@2x.png" data-fslightbox="gallery").product-tabs__gallery-item
                    +img("tabs", "g-5", "png")
                  a(href="img/tabs/g-6@2x.png" data-fslightbox="gallery").product-tabs__gallery-item
                    +img("tabs", "g-6", "png")
                +img("tabs", "decor-1", "png").product-tabs__decor.product-tabs__decor--1.parallax
                +img("tabs", "decor-2", "png").product-tabs__decor.product-tabs__decor--2.parallax
                +img("tabs", "decor-3", "png").product-tabs__decor.product-tabs__decor--3.parallax
                +img("tabs", "decor-4", "png").product-tabs__decor.product-tabs__decor--4.parallax
            .product-tabs__element(data-tabs='element')
              p.product-tabs__title Способ оплаты в Интернет-магазине
              p.product-tabs__text Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем Visa, MasterCard и Платежная система «Мир» на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется на защищенной платежной странице.
              p.product-tabs__text Оплата заказа осуществляется БЕЗНАЛИЧНЫМ путем на сайте нашего интернет-магазина согласно сумме заказа
                +img("tabs", "payment", "png").product-tabs__img.product-tabs__img--1
              p.product-tabs__text
                b Ввод данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК».
                +img("tabs", "alfa", "png").product-tabs__img.product-tabs__img--2
              p.product-tabs__text На странице для ввода данных банковской карты потребуется ввести номер карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные пропечатаны на самой карте. Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне карты.
              p.product-tabs__text Далее вы будете перенаправлены на страницу Вашего банка для ввода 3DSecure кода,который придет к Вам в СМС. Если 3DSecure код к Вам не пришел, то следует обратится в банк выдавший Вам карту.
              p.product-tabs__title Случаи отказа в совершении платежа:
                ul.product-tabs__ul.product-tabs__ul-orange
                  li банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк;
                  li недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
                  li данные банковской карты введены неверно;
                  li истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
              p.product-tabs__text По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы можете обращаться по следующим телефонам: #[a(href="tel:8-800-200-19-59" class="product-tabs__text-phone") 8-800-200-19-59]
              .product-tabs__block
                +img("tabs", "lock", "png").product-tabs__img
                .product-tabs__info
                  p.product-tabs__text
                    i
                      b Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.
                      br
                      | Безопасность обработки интернет-платежей гарантирована международным сертификатом безопасности PCI DSS 2.0.
                  p.product-tabs__text
                    b
                      i Дополнительные комиссии к оплате не взимаются.
                        br
                        | Для возврата суммы, оплаченной за возвращенный или не полученный товар, при отмене заказа, Вам необходимо обратиться лично по адресу ООО "ТД "Белгородский хладокомбинат": г. Белгород, ул. Дзгоева, 1.
                        br
                        | Наличие банковской карты, с использованием которой производился платеж, обязательно

            .product-tabs__element(data-tabs='element')
              p.product-tabs__title Условия доставки
              .product-tabs__icons
                .product-tabs__icons-item
                  +img("tabs", "track", "png").product-tabs__icon
                  p.product-tabs__text Наш интернет-магазин осуществляет доставку заказа по городу Белгород в пункт выдачи заказа, которую вы укажете при оформлении.
                    b Доставка в пункты выдачи БЕСПЛАТНАЯ.
                .product-tabs__icons-item
                  +img("tabs", "clock", "png").product-tabs__icon
                  p.product-tabs__text Интернет-магазин «Ё-айс» #[b работает круглосуточно]. #[br]Вы можете оформить заказ на сайте через корзину в любое удобное для вас время, #[br]предварительно пройдя регистрацию.
              p.product-tabs__text Продукция доставляется в ваннах объемом 1300 гр. Минимальный размер заказа - 1 ванна. Максимальный размер заказа - 3 ванны.
              p.product-tabs__text
                b Заказы доставляются в течение 2-3 рабочих дней.
              p.product-tabs__text При оформлении заказа в будний рабочий день (пн-пт) срок доставки в пункт выдачи составит два последующих рабочих дня (пн-пт). Забрать заказ можно будет после 18.00 во второй день.
              p.product-tabs__text Заказы, сделанные в субботу и в воскресенье доставляются начиная со вторника следующей недели.
              p.product-tabs__text
                b В случае если вы не пришли за заказом в течение 3 дней после доставки в пункт выдачи, звоните на телефон горячей линии 8-800-200-19-59.
              p.product-tabs__text
                b Если вы хотите получить заказ на следующий день после оплаты, позвоните нам по телефону 8 800 200-19-59 (только для заказов, сделанных с пн-чт с 9.00-17.00). Оператор уточнит, есть ли такая возможность на данный момент. Мы постараемся выполнить вашу просьбу.
              p.product-tabs__text
                b При отмене заказа для возврата оплаченной денежной суммы, Вам необходимо обратиться лично по адресу ООО "ТД "Белгородский хладокомбинат": г. Белгород, ул. Дзгоева, 1 в финансовый отдел. Наличие банковской карты с использованием которой производился платеж обязательно.
              p.product-tabs__title Возврат товара:
              p.product-tabs__text Покупатель вправе передумать и отменить свой заказ без объяснения причин в любой момент до передачи товара (п. 4 ст. 26.1 Закона N 2300-1, п. 21 Правил продажи товаров дистанционным способом). После передачи товара отказаться от него он может только в течение 7 дней. Отказаться покупатель может как от некачественного, так и от качественного товара (если сохранен товарный вид и потребительские свойства) (п. 21 Правил продажи товаров дистанционным способом).
              p.product-tabs__text Возврат денежных средств покупателю, отказавшемуся от товара, производится продавцом не позднее чем через 10 дней с даты предъявления покупателем требования о возврате, путем перечисления на банковский счет покупателя. Расходы на возврат суммы, уплаченной покупателем, несет продавец.
              p.product-tabs__text Для оформления факта возврата товара, покупателю необходимо прибыть в офис ООО "ТД "Белгородский хладокомбинат" по адресу:
                b
                  br
                  | РФ, Белгородская обл., г. Белгород, ул. Дзгоева, 1.
                  br
                  | Режим работы: понедельник - четверг с 8.30 до 17.30; пятница 8.30 - 16.15, суббота - воскресенье - выходной.
                  br
                  | Возврат оформляется актом о возврате (п. 33 Правил продажи товаров дистанционным способом).
            .product-tabs__element(data-tabs='element')
              p.product-tabs__title Для заказа в интернет-магазине необходимо:
              ul.product-tabs__ul.product-tabs__ul-orange
                li Войти или зарегистрироваться на сайте. Оформить заказ могут только зарегистрированные пользователи.
                li Выберите товар и добавьте его в корзину.
                li Проверьте правильность заказа, выберите пункт выдачи заказа, откуда хотите забрать товар.
                li Перейдите к оплате. Оплата заказа осуществляется безналичным путем на сайте нашего интернет-магазина согласно сумме заказа.
                li Заказ оформлен.
                li Заберите Ваш заказ в течение 3 дней после доставки в пункт выдачи, предъявив любой документ, удостоверяющий личность*
              p.product-tabs__title Адреса пунктов выдачи заказа г. Белгород**
              ul.product-tabs__ul
                li ул. Щорса 64, остановка "Сити-Молл", "Оранжевый остров" (время работы 07:00 - 21:00) остановка Щорса, детская поликлинника №4, "Оранжевый остров", (время работы 07:00 - 20:00)
                li бульвар Юности 19, (3-я гимназия), "Оранжевый остров", (время работы 07:00 - 20:00)
                li ул.Королева, 5, остановка гипермаркет "Линия", "Оранжевый остров", (время работы 07:00 - 21:00)
                li ул.Костюкова, 38т, остановка "Технологическая академия", "Оранжевый остров", (время работы 07:00 - 21:00)
                li ул.Щорса, 8л остановка "Водстрой", "Оранжевый остров", (время работы 07:00 - 21:00)
                li ул. Победы 147а, паркинг ТЦ Меркурий (время работы 07:00 - 21:00)
                li ул.Преображенская, 106, район старого "Дома Быта", "Оранжевый остров", (время работы 07:00 - 21:00)
                li проспект Славы, р-н МФЦ, ост,Донец, "Оранжевый остров", (время работы 07:00 - 19:00, выходной: воскресенье)
                li ул. Преображенская, к-тр Победа, кафе "Оранжевый остров", (время работы 09:00 - 21:00)
                li ж\д вокзал, остановочный комплекс "Ж\д Вокзал", напротив ТЦ "Вокзальный", "Оранжевый остров", (время работы 07:00 - 22:00)
                li ул. Попова, возле у-га "Белгород", "Оранжевый остров", (время работы 07:00 - 21:00) пр-т, Б.Хмельницкого, остановка Мичурина, индустриальный колледж, "Оранжевый остров", (время работы 07:00 - 20:00)
                li пр-т Б.Хмельницкого, остановка "Автовокзал", "Оранжевый остров", (время работы 07:00 - 21:00)
                li пр-т Б. Хмельницкого, остановка "Студенческая", "Оранжевый остров", (время работы 07:00 - 19:00, выходной: суббота, воскресенье)
                li ул. Садовая, остановка Кооперативный университет, "Оранжевый остров", (время работы 07:00 - 19:00)
                li ул. 50-летия Белгородской области - Народная, "Оранжевый остров", (время работы 07:00 - 21:00)
                li ул.Королева, район парка "Южный", "Оранжевый остров", (время работы 08:00 - 21:00)
                li ул.Победы, парк Победы, рядом с диорамой, кафе "Оранжевый остров", (время работы 08:00 - 21:00)
                li ул.Дзгоева 1, территория Белгородского хладокомбината, (время работы 08.30-17.30 (пн-чт), 8.30.-16.15 (пт)
              p.product-tabs__text
                b
                  i *Со сроками доставки можете ознакомиться в разделе "Условия доставки" #[br] ** Адреса пунктов выдачи будут пополняться
              p.product-tabs__subtitle Адреса точек продаж на карте
              .product-tabs__map.product-tabs__map--take
                iframe(src='https://yandex.ru/map-widget/v1/?ll=36.587272%2C50.595415&mode=poi&poi%5Bpoint%5D=36.587260%2C50.595414&poi%5Buri%5D=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1MzA1NzQxMhIe0KDQvtGB0YHQuNGPLCDQkdC10LvQs9C%2B0YDQvtC0IgoNXlkSQhW0YUpC&z=12' frameborder='0' allowfullscreen='true')
