.job-form {
  &__headline {
    margin: 0 0 vc(20);
    display: block;
    font-weight: 700;
    font-size: vc(18);
    font-family: $ff-geometria;
    line-height: 1.15;
    text-align: center;
    @include stroke(4, $color-default-white);

    @include tablet {
      font-size: vc(24);
      text-align: left;
    }

    @include desktop {
      margin-bottom: vc(45);
      font-size: vc(36);
      @include stroke(6, $color-default-white);
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
    gap: vc(20);
    max-width: 100%;
    width: 100%;

    @include desktop {
      max-width: vc(770);
    }
  }

  &__row {
    display: grid;
    margin: 0;
    padding: 0;
    gap: vc(20);
    max-width: 100%;
    width: 100%;

    @include tablet {
      grid-template-columns: repeat(2, calc((100% - vc(20)) / 2));
      column-gap: vc(20);
      row-gap: vc(25);
    }

    @include desktop {
      grid-template-columns: repeat(2, calc((100% - vc(30)) / 2));
      column-gap: vc(30);
      row-gap: vc(20);
    }
  }

  &__row--wide {
    @include tablet {
      grid-template-columns: auto;
    }

    @include desktop {
      grid-template-columns: auto;
    }
  }

  &__textarea-decoration {
    position: relative;

    @include tablet {
      background-color: transparent;
      background-image: url(../img/svg/main-contact-us-textarea-md.svg);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100% auto;
    }

    @include desktop {
      background-image: url(../img/svg/main-contact-us-textarea-lg.svg);
      background-size: 100%;
    }

    @include desktop {
      background-image: url(../img/svg/main-contact-us-textarea-lg-wide.svg);
    }
  }

  &__textarea.form__message textarea {
    min-height: vc(270);
    border-radius: vc(5);
    clip-path: url(#svgClipTextarea1sm);
    box-shadow: none;
    overflow: hidden;

    &::placeholder {
      max-width: 100%;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @include tablet {
      min-height: vc(145);
      height: vc(145);
      max-width: calc(100% - vc(230));
      padding-right: vc(10);
      clip-path: none;
      background-color: transparent;
    }
  }

  &__actions {
    margin-top: vc(10);
    padding: 0 vc(30);
    text-align: center;

    @include tablet {
      padding: 0;
      margin-top: vc(-55);
      text-align: right;
    }

    @include desktop {
      margin-top: vc(-55);
    }
  }

  &__action {
    max-width: 100%;
    width: 100%;
    border-radius: vc(12);
    border-top-left-radius: 0;
    will-change: transform;
    transition: color $trans-300, transform $trans-300;

    @include hover-focus {
      color: $color-default-white;
    }

    &:hover {
      color: $color-default-white;
      transform: scale(1.1);
    }

    @include tablet {
      max-width: vc(210);
    }

    @include desktop {
      padding-top: vc(10);
      padding-left: vc(10);
      padding-right: vc(10);
      padding-bottom: vc(20);
      font-size: vc(18);
    }

    &::after {
      top: vc(-10);
      transform: rotateZ(4deg) skewX(2deg);
      border-radius: vc(12) vc(12) 0 0;
    }

  }

  //.custom-file {
  //  position: relative;
  //  display: flex;
  //  align-items: center;
  //  height: 69px;
  //  margin: 20px 0;
  //  padding-left: 84px;
  //  overflow: hidden;
  //  border-radius: 52px;
  //  background: #FFFFFF;
  //
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    top: 50%;
  //    left: vc(36);
  //    width: 24px;
  //    height: 26px;
  //    transform: translateY(-50%);
  //    background: url(../img/form/upload.svg) center no-repeat;
  //    background-size: contain;
  //  }
  //
  //  label {
  //    width: 100%;
  //  }
  //
  //  &__label {
  //    display: block;
  //    font-size: 18px;
  //    color: rgba(#22496D, .7);
  //    white-space: nowrap;
  //    text-overflow: ellipsis;
  //    overflow: hidden;
  //
  //    @include desktop {
  //      top: vc(-8);
  //    }
  //  }
  //}

  &__action--show-mobile {
    @include desktop {
      display: none;
    }
  }

  &__action--show-desktop {
    display: none;

    @include desktop {
      display: inline-flex;
    }
  }

  &__copy {
    margin: vc(20) 0 0;
    font-size: vc(14);
    line-height: 1.35;
    text-align: center;
    opacity: 0.4;

    @include tablet {
      font-size: vc(16);
      text-align: left;
    }

    @include desktop {
      font-size: vc(14);
      text-align: right;
    }
  }

  &__copy a {
    transition: color $trans-300;
    text-decoration: underline;

    @include hover-focus {
      color: $color-pumpkin;
    }
  }
}
