.job-advantage {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - vc(15)) / 2));
    column-gap: vc(15);
    row-gap: vc(10);
    margin: 0;
    padding: 0;
    list-style: none;

    @include tablet {
      grid-template-columns: repeat(2, calc((100% - vc(20)) / 2));
      column-gap: vc(20);
      row-gap: vc(55);
    }

    @include desktop {
      grid-template-columns: repeat(4, calc((100% - vc(35) * 3) / 4));
      column-gap: vc(35);
      row-gap: vc(70);
    }
  }

  &__actions {
    margin-top: vc(65);
    text-align: center;

    @include tablet {
      margin-top: vc(30);
    }

    @include desktop {
      margin-top: vc(75);
    }
  }

  &__article {
    position: relative;
    z-index: 5;
    display: block;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  &__article-name {
    display: block;
    max-width: 100%;
    width: 100%;
    font-weight: 700;
    font-size: vc(14);
    line-height: 1.35;
    color: $color-arapawa;
    @include stroke(4, $color-default-white);

    @include tablet {
      font-size: vc(25);
    }

    @include desktop {
      white-space: nowrap;
    }
  }

  &__article-count {
    position: relative;
    display: inline-block;
    min-width: vc(120);
    max-width: 100%;
    width: auto;
    min-height: vc(50);
    margin: 0 auto;
    padding: vc(10) vc(10) vc(20);
    font-weight: 700;
    font-size: vc(12);
    line-height: 1.35;
    color: $color-default-white;

    @include tablet {
      min-width: vc(215);
      max-width: vc(240);
      min-height: vc(90);
      padding-right: vc(20);
      padding-left: vc(20);
      font-size: vc(22);
    }

    @include desktop {
      min-height: vc(110);
      padding-bottom: vc(30);
    }
  }

  &__article-count::before {
    content: "";
    position: absolute;
    top: vc(-5);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    filter: drop-shadow(0 vc(3) vc(7) rgba(34, 73, 109, 0.1));

    @include tablet {
      right: vc(-5);
      left: vc(-5);
    }
  }

  &__icon--1~&__article-count::before {
    background-image: url(../img/decoration/job-advantage-1.svg);
  }

  &__icon--2~&__article-count::before {
    background-image: url(../img/decoration/job-advantage-2.svg);
  }

  &__icon--3~&__article-count::before {
    background-image: url(../img/decoration/job-advantage-3.svg);
  }

  &__icon--4~&__article-count::before {
    background-image: url(../img/decoration/job-advantage-4.svg);
  }

  &__icon--5~&__article-count::before {
    background-image: url(../img/decoration/job-advantage-5.svg);
  }

  &__icon--6~&__article-count::before {
    background-image: url(../img/decoration/job-advantage-6.svg);
  }

  &__icon--7~&__article-count::before {
    background-image: url(../img/decoration/job-advantage-7.svg);
  }

  &__icon--8~&__article-count::before {
    background-image: url(../img/decoration/job-advantage-8.svg);
  }

  &__icon {
    display: block;
    margin-bottom: vc(10);
    max-width: 100%;
    width: 100%;
    height: vc(60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    @include tablet {
      height: vc(105);
      margin-bottom: vc(20);
    }

    @include desktop {
      height: vc(115);
      margin-bottom: vc(45);
    }

    &--1 {
      background-image: url(../img/decoration/job-advantage-1.png);

      @include retina {
        background-image: url(../img/decoration/job-advantage-1@2x.png);
      }

      @include hover-focus {
        background-image: url(../img/decoration/vacancy-1.gif);
        background-size: auto 96.5517241379%;
      }
    }

    &--2 {
      background-image: url(../img/decoration/job-advantage-2.png);

      @include retina {
        background-image: url(../img/decoration/job-advantage-2@2x.png);
      }

      @include hover-focus {
        background-image: url(../img/decoration/vacancy-2.gif);
        background-size: auto 96.5517241379%;
      }
    }

    &--3 {
      background-image: url(../img/decoration/job-advantage-3.png);

      @include retina {
        background-image: url(../img/decoration/job-advantage-3@2x.png);
      }

      @include hover-focus {
        background-image: url(../img/decoration/vacancy-3.gif);
        background-size: auto 96.5517241379%;
      }
    }

    &--4 {
      background-image: url(../img/decoration/job-advantage-4.png);

      @include retina {
        background-image: url(../img/decoration/job-advantage-4@2x.png);
      }

      @include hover-focus {
        background-image: url(../img/decoration/vacancy-4.gif);
        background-size: auto 96.5517241379%;
      }
    }

    &--5 {
      background-image: url(../img/decoration/job-advantage-5.png);

      @include retina {
        background-image: url(../img/decoration/job-advantage-5@2x.png);
      }

      @include hover-focus {
        background-image: url(../img/decoration/vacancy-5.gif);
        background-size: auto 96.5517241379%;
      }
    }

    &--6 {
      background-image: url(../img/decoration/job-advantage-6.png);

      @include retina {
        background-image: url(../img/decoration/job-advantage-6@2x.png);
      }

      @include hover-focus {
        background-image: url(../img/decoration/vacancy-6.gif);
        background-size: auto 96.5517241379%;
      }
    }

    &--7 {
      background-image: url(../img/decoration/job-advantage-7.png);

      @include retina {
        background-image: url(../img/decoration/job-advantage-7@2x.png);
      }

      @include hover-focus {
        background-image: url(../img/decoration/vacancy-7.gif);
        background-size: auto 96.5517241379%;
      }
    }

    &--8 {
      background-image: url(../img/decoration/job-advantage-8.png);

      @include retina {
        background-image: url(../img/decoration/job-advantage-8@2x.png);
      }

      @include hover-focus {
        background-image: url(../img/decoration/vacancy-8.gif);
        background-size: auto 96.5517241379%;
      }
    }
  }
}
