section.page-info__nav
  aside.section-documents__controls.page-info__controls(data-page-info-nav-container)
    .swiper(data-page-info-nav-slider)
      .swiper-wrapper
        each link in cabinetNav
          .swiper-slide.section-documents__slide
            - const isActive = link.isActive ? 'is-active' : '';
            button.section-documents__control(class=isActive, id=link.href)!=link.name
      .section-documents__swiper-scrollbar.swiper-scrollbar.swiper-scrollbar--custom(data-scrollbar)
section.history__section
  .container
    h1.history__headline История компании
    +video('sQRmvMQeQW8', 'Мороженое Бодрая Корова').history__video
    .history__timeline
section.history__section.history__section--1
  +picture("history", "decor-1-3", "png").history__decor.history__decor--3
  .container
    .history__row
      .history__info
        h2.history__title 1959
        p.history__text В послевоенный период холодильники были роскошью. Правительством СССР было решено построить один большой холодильник для всего Белгорода.
        p.history__text 29 июня был запущен в работу первый склад-охладитель, который вмещал в себя 3 218 тонн продуктов.
      .history__image-box
        +picture("history", "decor-1-1", "png").history__decor.history__decor--1
        +picture("history", "decor-1-2", "png").history__decor.history__decor--2
        +picture("history", "article-image-1", "jpg").history__image-box-img
section.history__section.history__section--2
  +picture("history", "bg-2-m", "png").history__bg.history__bg--1.for-mobile
  +picture("history", "bg-2-t", "png").history__bg.history__bg--1.for-tablet
  +picture("history", "bg-2", "png").history__bg.history__bg--1.for-desktop
  +picture("history", "decor-2-3", "png").history__decor.history__decor--3
  +picture("history", "decor-2-4", "png").history__decor.history__decor--4
  .container
    .history__row
      .history__info
        h2.history__title 1973
        p.history__text В мае 1973 открывается фабрика по производству мороженого. Она выпускает до 12 тонн брикетов и стаканчиков за сутки.
        p.history__text Белгородские газеты начинают писать о фабрике и её достижениях.
      .history__image-box
        +picture("history", "decor-2-1", "png").history__decor.history__decor--1
        +picture("history", "article-image-2", "jpg").history__image-box-img
    h3.history__subtitle Газетные архивы
    .history__row
      +picture("history", "decor-2-2", "png").history__decor.history__decor--2
      .history__gazeta
        .history__gazeta-item.history__gazeta-item--1
          +picture("history", "gazeta-1", "png").history__image-box-img.history__gazeta-img.history__gazeta-img--1
          .history__gazeta-footer.history__gazeta-footer--1
            img(src="img/history/gazeta-bg-1.svg" alt="").history__gazeta-bg.history__gazeta-bg--1
            p.history__gazeta-title Белгородская Правда 19.01.1973
        .history__gazeta-item.history__gazeta-item--2
          +picture("history", "gazeta-2", "png").history__image-box-img.history__gazeta-img.history__gazeta-img--2
          .history__gazeta-footer.history__gazeta-footer--2
            img(src="img/history/gazeta-bg-2.svg" alt="").history__gazeta-bg.history__gazeta-bg--2
            p.history__gazeta-title Белгородская Правда 02.07.1972
        .history__gazeta-item.history__gazeta-item--3
          +picture("history", "gazeta-3", "png").history__image-box-img.history__gazeta-img.history__gazeta-img--3
          .history__gazeta-footer.history__gazeta-footer--3
            img(src="img/history/gazeta-bg-3.svg" alt="").history__gazeta-bg.history__gazeta-bg--3
            p.history__gazeta-title Белгородская Правда 27.05.1973
section.history__section.history__section--3
  +picture("history", "bg-3-m", "png").history__bg.history__bg--1.for-mobile
  +picture("history", "bg-3-t", "png").history__bg.history__bg--1.for-tablet
  +picture("history", "bg-3", "png").history__bg.history__bg--1.for-desktop
  +picture("history", "decor-3-1", "png").history__decor.history__decor--1
  +picture("history", "decor-3-2", "png").history__decor.history__decor--2
  .container
    .history__row
      .history__info
        h2.history__title 1996
        p.history__text Установлена итальянская экструзионная линия “Марклайн”
        p.history__text Разнообразим ассортимент эскимо, но настоящие достижения ещё впереди
      .history__image-box
        +picture("history", "article-image-3", "png").history__image-box-img
section.history__section.history__section--4
  +picture("history", "bg-4-m", "png").history__bg.history__bg--1.for-mobile
  +picture("history", "bg-4-t", "png").history__bg.history__bg--1.for-tablet
  +picture("history", "bg-4", "png").history__bg.history__bg--1.for-desktop

  +picture("history", "decor-4-2", "png").history__decor.history__decor--2
  +picture("history", "decor-4-3", "png").history__decor.history__decor--3
  +picture("history", "decor-4-4", "png").history__decor.history__decor--4
  +picture("history", "decor-4-5", "png").history__decor.history__decor--5
  .container
    .history__row
      .history__info
        h2.history__title 1998
        p.history__text Компания становится открытым акционерным обществом
        p.history__text А ассортимент мороженого расширяется до 40 наименований
      .history__image-box
        +picture("history", "decor-4-1", "png").history__decor.history__decor--1
        +picture("history", "article-image-4-2", "png").history__image-box-img.history__image-box-img--1
        +picture("history", "article-image-4-1", "png").history__image-box-img.history__image-box-img--2
section.history__section.history__section--5
  +picture("history", "bg-5-m", "png").history__bg.history__bg--1.for-mobile
  +picture("history", "bg-5-t", "png").history__bg.history__bg--1.for-tablet
  +picture("history", "bg-5", "png").history__bg.history__bg--1.for-desktop

  +picture("history", "decor-5-2", "png").history__decor.history__decor--2
  +picture("history", "decor-5-3", "png").history__decor.history__decor--3
  +picture("history", "decor-5-4", "png").history__decor.history__decor--4
  .container
    .history__row
      .history__info
        h2.history__title 1999
        p.history__text У маркетологов фабрики зарождается идея #[span НЕстадартного, НЕобычного  и НЕунывающего бренда]
      .history__image-box
        +picture("history", "decor-5-1", "png").history__decor.history__decor--1
        +picture("history", "article-image-5", "png").history__image-box-img.history__image-box-img--border-none
section.history__section.history__section--6
  +picture("history", "bg-6-m", "png").history__bg.history__bg--1.for-mobile
  +picture("history", "bg-6-t", "png").history__bg.history__bg--1.for-tablet
  +picture("history", "bg-6", "png").history__bg.history__bg--1.for-desktop

  +picture("history", "decor-6-1", "png").history__decor.history__decor--1
  +picture("history", "decor-6-2", "png").history__decor.history__decor--2
  +picture("history", "decor-6-3", "png").history__decor.history__decor--3
  .container
    .history__row
      .history__info
        h2.history__title.history__title--2 23 июня 2000
        p.history__text.history__text--lead Рождается «Бодрая Корова» и начинается эра нового российского мороженого
      .history__image-box
        +picture("history", "article-image-6", "png").history__image-box-img.history__image-box-img--border-none
section.history__section.history__section--7
  +picture("history", "bg-7-m", "png").history__bg.history__bg--1.for-mobile
  +picture("history", "bg-7-t", "png").history__bg.history__bg--1.for-tablet
  +picture("history", "bg-7", "png").history__bg.history__bg--1.for-desktop

  +picture("history", "decor-7-2", "png").history__decor.history__decor--2
  +picture("history", "decor-7-3", "png").history__decor.history__decor--3
  +picture("history", "decor-7-4", "png").history__decor.history__decor--4
  .container
    .history__row
      .history__info
        h2.history__title.history__title--2 2001 - 2003
        p.history__text Запущена линия “Грам” для производства мороженого эскимо, рулетов и тортов
        p.history__text Приобретена линия “Текнолайн-600”
        p.history__text
          b Впервые преодолен рубеж в 10 000 тонн проданного мороженого за год
      .history__image-box
        +picture("history", "decor-7-1", "png").history__decor.history__decor--1
        +picture("history", "article-image-7", "png").history__image-box-img.history__image-box-img--border-none
section.history__section.history__section--8
  +picture("history", "decor-8-2", "png").history__decor.history__decor--2
  +picture("history", "decor-8-3", "png").history__decor.history__decor--3
  .container
    .history__row
      .history__info
        h2.history__title.history__title--2 2005 - 2011
        p.history__text.history__text--lead Построен новый многоярусный низкотемпературный склад для хранения готовой продукции на 2600 паллетомест
        p.history__text Запущены новые марки мороженого: «Бумеранг» и «Пломбьеро Веро».
        p.history__text Установлены новые линии: «Тортика», «Гавана», «Эксперт», «Григоли Стик-ин-лайн».
      .history__image-box
        +picture("history", "decor-8-1", "png").history__decor.history__decor--1
        +picture("history", "article-image-8", "png").history__image-box-img
section.history__section.history__section--9
  +picture("history", "bg-9-m", "png").history__bg.history__bg--1.for-mobile
  +picture("history", "bg-9-t", "png").history__bg.history__bg--1.for-tablet
  +picture("history", "bg-9", "png").history__bg.history__bg--1.for-desktop

  +picture("history", "decor-9-1", "png").history__decor.history__decor--1
  .container
    .history__row
      .history__info
        +picture("history", "decor-9-2", "png").history__decor.history__decor--2
        +picture("history", "decor-9-3", "png").history__decor.history__decor--3
        h2.history__title.history__title--2 2011
        p.history__text “Бодрая Корова” #[br] меняет имидж
      .history__image-box
        +picture("history", "decor-9-4", "png").history__decor.history__decor--4
        +picture("history", "decor-9-5", "png").history__decor.history__decor--5
        +picture("history", "article-image-9", "png").history__image-box-img.history__image-box-img--border-none
section.history__section.history__section--10
  +picture("history", "bg-10-m", "png").history__bg.history__bg--1.for-mobile
  +picture("history", "bg-10-t", "png").history__bg.history__bg--1.for-tablet
  +picture("history", "bg-10", "png").history__bg.history__bg--1.for-desktop

  +picture("history", "decor-10-1", "png").history__decor.history__decor--1
  .container
    .history__row
      .history__info
        h2.history__title.history__title--2 2012
        p.history__text.history__text--lead Под маркой выходит новая серия мороженого “По рецептуре 1948 года”
        p.history__text Эскимо, брикет, рожок и стаканчик. Картонная упаковка признается Институтом промышленной собственности как полезная модель
        p.history__text 25.01.2012 получен первый сертификат системы менеджмента ХАССП, который с тех пор регулярно подтверждается каждые 3 года
      .history__image-box
        +picture("history", "article-image-10", "png").history__image-box-img.history__image-box-img--border-none
section.history__section.history__section--11
  +picture("history", "bg-11-m", "png").history__bg.history__bg--1.for-mobile
  +picture("history", "bg-11-t", "png").history__bg.history__bg--1.for-tablet
  +picture("history", "bg-11", "png").history__bg.history__bg--1.for-desktop


  +picture("history", "decor-11-2", "png").history__decor.history__decor--2
  +picture("history", "decor-11-3", "png").history__decor.history__decor--3
  .container
    .history__row
      .history__info
        h2.history__title.history__title--2 25 января 2012
        p.history__text Получен первый сертификат системы менеджмента ХААСП, который с тех пор регулярно подтверждается каждые 3 года
      .history__image-box
        +picture("history", "article-image-11", "png").history__image-box-img
        +picture("history", "decor-11-1", "png").history__decor.history__decor--1
