-
  const cabinetNav = [
    {
      name: "История компании",
      href: "#",
      isActive: false,
    }, {
      name: "Производство мороженого",
      href: "#",
      isActive: false,
    }, {
      name: "О молоке",
      href: "#",
      isActive: false,
    }, {
      name: "Награды, сертификаты, благодарности",
      href: "#",
      isActive: false,
    }, {
      name: "Политика и цели  в области качества",
      href: "#",
      isActive: true,
    }, {
      name: "Юридическая информация",
      href: "#",
      isActive: false,
    }
  ]

section.page-info__section
  .container
    aside.section-documents__controls.page-info__controls(data-page-info-nav-container)
      .swiper(data-page-info-nav-slider)
        .swiper-wrapper
          each link in cabinetNav
            .swiper-slide.section-documents__slide
              - const isActive = link.isActive ? 'is-active' : '';
              button.section-documents__control(class=isActive, id=link.href)!=link.name
        .section-documents__swiper-scrollbar.swiper-scrollbar.swiper-scrollbar--custom(data-scrollbar)
    h1.page-info__title Политика и цели в области качества
    .page-info__text-box
      p.page-info__subtitle
        | #[b Политика ГК «Белгородский хладокомбинат» в области качества и безопасности] является частью общей стратегии развития.
      p.page-info__subtitle
        | Сотрудники Компании в своей деятельности и при принятии решений обязаны руководствоваться положениями данного документа.
    .page-info__text-box
      p.page-info__text
        b Стратегические цели Компании в области качества на период до 2022г. :
      ul.page-info__ul
        li создание и продвижение высококачественной и безопаснойпродукции, удовлетворяющей требованиям и ожиданиям потребителей, обеспечивающей достижение целей ГК «Белгородский хладокомбинат»;
        li контроль себестоимости продукции, анализ и снижение затрат на производство;
        li удержание доли рынка, сохранение географии присутствия продаж, развитие новых территорий;
        li модернизация существующих и развитие новых производств.
        li получение справедливой прибыли для наших акционеров.
    .page-info__text-box
      p.page-info__text
        b Для достижения поставленных целей Компания строит свою деятельность на основе следующих принципов:
      ul.page-info__ul
        li непрерывное совершенствование производства;
        li мониторинг и анализ потребностей Конечных покупателей, выявление и эффективное удовлетворение их явных и скрытых требований;
        li обеспечение оперативного реагирования и постоянного контакта с Конечными покупателями путём развития регионального присутствия;
        li сотрудничество с партнерами и подрядчиками, гарантирующими высокое качество выпускаемой продукции и услуг, ориентация на лучшие практики;
        li развитие компетенций по выбранным направлениям;
        li взаимное понимание и разделение ценностей и интересов Компании и каждого из её сотрудников;
        li задачи набора, обучения, повышения компетенции и снижение возраста работающегоперсонала Компании должны решаться как единый комплекс мер по развитию персонала;
        li поддержание взаимного соответствия документированных процедур и бизнес-процессов Компании;
        li увеличение производительности труда при сохранении качества и безопасности конечного продукта.
    .page-info__text-box
      p.page-info__text
        b Руководство Компании берет на себя ответственность за реализацию Политики в области качества и безопасности и выполнение следующих обязательствах:
      ul.page-info__ul
        li обеспечивать выпусквысококачественной и безопасной продукции, удовлетворяющей требования потребителей и соответствующей требованиям российского и международного законодательства в области безопасности пищевой продукции;
        li систематически анализировать опасности и проводить оценку рисков возможного неблагоприятного воздействия на здоровье потребителей;
        li своевременно выявлять и предотвращать любые потенциальные несоответствия, которые могут привести к снижению качества продукции и ее загрязнению;
        li создавать условия труда, способствующие осознанному вовлечению сотрудников Компании в процесс управления качеством и безопасностью;
        li обеспечивать необходимый уровень квалификации персонала;
        li вовлекать руководителей подразделений в работу по улучшению качества и гигиены труда с четко определенной ответственностью и полномочиями.
        li создавать необходимые для функционирования интегрированной системы менеджмента организационные и структурные условия, выделять для этих целей соответствующие финансовые, технические, кадровые и иные ресурсы, обеспечивая их эффективное использование;
        li поддерживать соответствие интегрированной системы менеджмента установленным требованиям и постоянно повышать её результативность;
        li ежегодно анализировать интегрированную систему менеджмента с целью обеспечения ее результативности.
      p.page-info__text Каждый сотрудник лично участвует в достижении поставленных перед Компанией целей: от труда каждого зависит качество наших решений и услуг, а также имидж Компании среди клиентов и партнеров, их доверие к нам.
    .politics__statement
      img(src="img/politics/decor-1.svg" alt="").politics__statement-decor.politics__statement-decor--1
      img(src="img/politics/decor-2.svg" alt="").politics__statement-decor.politics__statement-decor--2
      .politics__statement-box
        p.politics__statement-title Заявление руководства
        p.politics__statement-text #[b Наш девиз:] качество и безопасность выпускаемой продукции и качество оказываемых услуг — основа благосостояния ГК «Белгородский хладокомбинат» и каждого работающего.
        p.politics__statement-text #[b Мы трудимся] для того, чтобы предложить честную сделку — Мы предлагаем самую лучшую продукцию по разумной цене.
        p.politics__statement-text #[b Мы люди слова] — мы выполняем свои обещания.
        p.politics__statement-text #[b Мы честно ведем дела] с клиентами компании, ее поставщиками и конкурентами, а также друг с другом.
    .page-info__text-box
      p.page-info__text
        b Стратегическая цель деятельности предприятия
      p.page-info__text Создание и выпуск совершенного продукта, доставляющего удовольствие, удовлетворяющего требования и ожидания потребителей, соответствующего действующим критериям качества при сохранении стабильного финансового состояния компании, ее доли на внутреннем рынке с поступательным ростомэкспорта.
    .page-info__text-box
      p.page-info__text
        b Главная цель Политики в области качества и безопасности
      p.page-info__text Внедрение комплекса мер для творческой работы персонала по созданию совершенного продукта, мотивирование на обеспечение безопасной деятельности производства и процветания компании.
    .page-info__text-box
      p.page-info__text
        b Тактическая цель деятельности
      p.page-info__text Обеспечение показателей безопасности и качества продукции для реализации принципа #[b «Ориентация на потребителя»].




