section.shop-page__section
  .container
    h1.shop-page__title.shop-page__title--bracket Корзина
    p.shop-page__description ВНИМАНИЕ! Заказ принимается в работу только после 100% оплаты! #[br] Внимание! Заказ необходимо забрать в течении 3 календарных дней после доставки
    form.form
      +shop-summary().shop-basket__summary
      +button({text: "Оформить заказ", type: "submit"}, "primary").shop-basket__button
