section.shop-page__section.order__section
  img(src="img/shop/order/order-decor.png" alt="").order__decoration
  .container
    .order__head
      h1.shop-page__title.order__title Заказ оформлен
      p.order__text Ваш заказ #[b №76 от 07.07.2022 20:08] успешно создан.
      p.order__text
        span ВНИМАНИЕ! Заказ принимается в работу только после 100% оплаты!
        br
        span Внимание! Заказ необходимо забрать в течении 3 календарных дней после доставки
