.history {
  $p: &;

  position: relative;
  overflow: hidden;

  &__headline {
    position: relative;
    margin-bottom: vc(30);
    font-family: $ff-myriad-pro;
    font-weight: 700;
    font-size: vc(24);
    line-height: vc(29);
    color: $color-arapawa;

    &::after {
      content: "";
      display: inline-block;
      margin-left: vc(10);
      width: vc(15);
      height: vc(35);
      background-image: url(../img/svg/headline-bracket.svg);
      background-size: vc(18);
      background-repeat: no-repeat;
      background-position: center top;

      @include tablet {
        margin-left: vc(5);
        width: vc(40);
        height: vc(75);
        background-size: vc(40);
      }

      @include desktop {
        margin-left: vc(15);
        height: vc(70);
      }
    }

    @include stroke(5, $color-default-white);

    @include tablet {
      margin-bottom: vc(50);
      font-size: vc(40);
      line-height: vc(48);

      @include stroke(11, $color-default-white);
    }

    @include desktop {
      margin-bottom: vc(80);
      font-size: vc(70);
      line-height: vc(84);
    }
  }

  &__video {
    width: 100%;
    height: vc(175);

    @include tablet {
      height: vc(390);
    }

    @include desktop {
      height: vc(568);
    }
  }

  &__timeline {
    margin: vc(30) 0 vc(40);
    height: vc(134);
    background: $color-pattens-blue-7;
    border: vc(8) solid $color-default-white;
    border-radius: vc(20);

    @include tablet {
      margin: vc(80) 0;
      height: vc(160);
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @include desktop {
      flex-direction: row;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__image-box {
    position: relative;

    &-img {
      border: vc(4) solid $color-default-white;
      border-radius: vc(18);
      width: 100%;

      &--border-none {
        border: none;
        border-radius: 0;
      }

      @include tablet {
        border: vc(8) solid $color-default-white;
        border-radius: vc(42);

        &--border-none {
          border: none;
          border-radius: 0;
        }
      }
    }
  }

  &__title {
    color: $color-pumpkin;
    font-family: $ff-myriad-pro;
    font-weight: 700;
    font-size: vc(40);
    line-height: vc(48);
    margin: 0 0 vc(20);

    @include stroke(11, $color-default-white);

    @include tablet {
      font-size: vc(100);
      line-height: vc(120);

      &--2 {
        font-size: vc(40);
        line-height: vc(48);
      }
    }

    @include desktop {
      margin: 0 0 vc(25);

      &--2 {
        font-size: vc(70);
        line-height: vc(84);
      }
    }
  }

  &__subtitle {
    position: relative;
    font-family: $ff-myriad-pro;
    color: $color-arapawa;
    font-weight: 700;
    font-size: vc(24);
    line-height: vc(29);
    text-align: center;
    margin: vc(64) auto 0;

    @include stroke(5, $color-default-white);

    @include tablet {
      margin: vc(100) auto vc(30);
      font-size: vc(40);
      line-height: vc(48);

      @include stroke(11, $color-default-white);
    }

    @include desktop {
      margin: vc(226) auto vc(65);
      font-size: vc(70);
      line-height: vc(84);
    }
  }

  &__text {
    color: $color-arapawa;
    font-family: $ff-geometria;
    font-weight: 500;
    font-size: vc(14);
    line-height: vc(18);
    margin: 0 0 vc(15);

    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-weight: 700;
      color: $color-pumpkin;
    }

    &--lead {
      font-weight: 700;
      font-size: vc(14);
      line-height: vc(18);
    }

    @include tablet {
      font-size: vc(16);
      line-height: vc(20);

      &--lead {
        font-size: vc(18);
        line-height: vc(23);
      }
    }

    @include desktop {
      font-size: vc(18);
      line-height: vc(23);
      margin: 0 0 vc(25);

      &--lead {
        font-size: vc(24);
        line-height: vc(30);
      }
    }
  }

  &__gazeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: vc(18);

    @include tablet {
      flex-direction: row;
      margin-bottom: vc(100);
    }

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 1;
      flex-shrink: 0;

      &--1 {
        width: vc(221);

        @include desktop {
          width: vc(522);
        }
      }

      &--2 {
        width: vc(163);

        @include desktop {
          width: vc(385);
        }
      }

      &--3 {
        width: vc(222);

        @include desktop {
          width: vc(525);
        }
      }
    }

    &-img {
      height: vc(194);
      border-radius: vc(17);
      border-width: vc(3);

      @include tablet {
        border-radius: vc(17);
        border-width: vc(3);
      }

      @include desktop {
        height: vc(460);
        border-radius: vc(41);
        border-width: vc(8);
      }
    }

    &-title {
      font-family: $ff-geometria;
      font-weight: 700;
      font-size: vc(12);
      line-height: vc(15);
      text-align: center;
      color: $color-default-white;
      margin: 0 auto;
      width: vc(120);

      @include desktop {
        font-size: vc(22);
        line-height: vc(28);
        width: vc(443);
      }
    }

    &-footer {
      width: 100%;
      position: relative;
      z-index: -1;
      margin: vc(8) 0 vc(19) 0;

      @include desktop {
        margin: vc(21) 0 vc(44) 0;
      }

      &--2 {
        .history__gazeta-title {
          position: relative;

          @include desktop {
            left: vc(-29);
          }
        }
      }
    }

    &-bg {
      position: absolute;
      width: 100%;
      max-width: none;
      z-index: -1;

      &--1 {
        top: vc(-24);
        left: vc(12);
        width: vc(191);

        @include desktop {
          top: vc(-58 - 21);
          left: vc(30);
          width: vc(453);
        }
      }

      &--2 {
        top: vc(-19);
        left: vc(-11);
        width: vc(182);

        @include desktop {
          top: vc(-47 - 21);
          left: vc(-29);
          width: vc(431);
        }
      }

      &--3 {
        top: vc(-17);
        left: vc(5);
        width: vc(209);

        @include desktop {
          top: vc(-40 - 21);
          left: vc(13);
          width: vc(495);
        }
      }
    }
  }

  &__decor,
  &__bg {
    position: absolute;
  }

  &__section {
    position: relative;

    &--1 {
      margin-bottom: vc(-228);
      padding-bottom: vc(72 - 10);
      z-index: 1;

      @include tablet {
        margin-bottom: vc(-531);
        padding-bottom: vc(161 - 48);
      }

      @include desktop {
        margin-bottom: 0;
        padding-bottom: vc(114);
      }


      #{$p}__info {
        margin-bottom: vc(10);
        width: vc(244);

        @include tablet {
          margin-bottom: vc(48);
          width: vc(312);
        }

        @include desktop {
          width: vc(560);
        }
      }

      #{$p}__image-box {
        width: vc(290);

        @include tablet {
          width: vc(644);
        }

        @include desktop {
          width: vc(547);
        }
      }

      #{$p}__decor {
        &--1 {
          left: vc(-23);
          bottom: vc(-32);
          width: vc(85);
          height: vc(70);

          @include tablet {
            left: vc(-50);
            bottom: vc(-71);
            width: vc(190);
            height: vc(154);
          }

          @include desktop {
            left: vc(-66);
            bottom: vc(-77);
          }
        }

        &--2 {
          right: vc(-24);
          top: vc(22);
          width: vc(41);
          height: vc(40);

          @include tablet {
            right: vc(-52);
            top: vc(50);
            width: vc(93);
            height: vc(89);
          }

          @include desktop {
            top: vc(81);
            right: vc(-128);
          }
        }

        &--3 {
          width: vc(219);
          height: vc(203);
          bottom: vc(349);
          right: vc(-128);

          @include tablet {
            bottom: auto;
            top: vc(16);
            right: vc(-174);
            width: vc(519);
            height: vc(481);
          }

          @include desktop {
            left: vc(588);
            top: auto;
            right: auto;
            bottom: vc(-306);
          }
        }
      }
    }

    &--2 {
      padding: vc(230) 0 0 0;

      @include tablet {
        padding: vc(485) 0 0 0;
      }

      @include desktop {
        padding: vc(302) 0 0 0;
      }

      #{$p}__row {
        @include tablet {
          flex-direction: row-reverse;
        }
      }

      #{$p}__info {
        margin-bottom: vc(38);

        @include tablet {
          max-width: vc(312);
          margin-bottom: 0;
        }

        @include desktop {
          max-width: vc(406);
        }
      }

      #{$p}__image-box {
        @include tablet {
          @include size(312, 307);
          margin-right: vc(20);
        }

        @include desktop {
          @include size(385, 379);
          margin-right: vc(60);
          margin-left: auto;
        }
      }

      #{$p}__decor {
        &--1 {
          left: vc(-57);
          bottom: vc(-90);
          width: vc(222);
          height: vc(227);
          max-width: none;

          @include tablet {
            left: vc(-73);
            bottom: vc(-153);
            width: vc(300);
            height: vc(307);
          }

          @include desktop {
            left: vc(-424);
            bottom: vc(-267);
            width: vc(571);
            height: vc(585);
          }
        }


        &--2 {
          display: none;

          @include tablet {
            display: block;
            top: vc(-72);
            right: vc(-91);
            width: vc(232);
            height: vc(212);
          }

          @include desktop {
            top: vc(-149);
            right: vc(-167);
            width: vc(468);
            height: vc(427);
          }
        }

        &--3 {
          top: vc(543);
          right: vc(-76);
          width: vc(175);
          height: vc(274);

          @include tablet {
            top: vc(397);
            right: vc(-219);
            width: vc(385);
            height: vc(602);
            z-index: 1;
          }
        }

        &--4 {
          top: vc(-67);
          left: 0;
          width: vc(105);
          height: vc(332);

          @include tablet {
            top: vc(83);
            width: vc(250);
            height: vc(792);
          }

          @include desktop {
            width: vc(357);
            height: vc(1119);
          }
        }
      }

      #{$p}__bg {
        &--1 {
          left: 0;
          top: 0;
          width: 100%;
        }
      }
    }

    &--3 {
      padding: vc(50) 0 vc(109);

      @include tablet {
        padding: vc(64) 0 vc(118);
      }

      @include desktop {
        padding: vc(208) 0 vc(251);
      }

      #{$p}__bg {
        &--1 {
          left: 0;
          top: 0;
          width: 100%;
        }
      }

      #{$p}__row {
        @include tablet {
          flex-direction: row-reverse;
        }
      }

      #{$p}__info {
        margin-bottom: vc(33);

        @include tablet {
          max-width: vc(312);
          margin-bottom: 0;
        }

        @include desktop {
          max-width: vc(406);
        }
      }

      #{$p}__image-box {
        @include tablet {
          margin-right: vc(20);
          width: vc(312);
          height: vc(307);
        }

        @include desktop {
          margin-right: vc(55);
          margin-left: auto;
          width: vc(385);
          height: vc(379);
        }
      }

      #{$p}__decor {
        &--1 {
          bottom: vc(14);
          left: vc(-68);
          z-index: 1;

          @include size(258, 255);

          @include tablet {
            top: vc(73);
            bottom: auto;
            left: vc(-257);

            @include size(477, 472);
          }

          @include desktop {
            top: vc(35);
            bottom: auto;
            left: vc(-153);

            @include size(1000, 991);
          }
        }

        &--2 {
          display: none;

          @include tablet {
            display: block;
            top: vc(93);
            right: vc(-93);

            @include size(191, 222);
          }

          @include desktop {
            top: vc(394);
            right: vc(-141);

            @include size(363, 422);
          }
        }
      }
    }

    &--4 {
      padding: vc(74) 0 vc(27);

      @include tablet {
        padding: vc(92) 0 vc(46);
      }

      @include desktop {
        padding: vc(243) 0 vc(162);
      }

      #{$p}__bg {
        &--1 {
          left: 0;
          top: 0;
          width: 100%;
        }
      }

      #{$p}__row {
        @include tablet {
          flex-direction: row;
        }
      }

      #{$p}__info {
        margin-bottom: vc(30);

        @include tablet {
          max-width: vc(312);
          margin-bottom: 0;
        }

        @include desktop {
          max-width: vc(363);
        }
      }

      #{$p}__image-box {
        @include size(290, 368);

        @include tablet {
          @include size(312, 394);
        }

        @include desktop {
          @include size(880, 744);
        }

        &-img {
          position: absolute;
          object-fit: cover;
          border-width: vc(2);
          border-radius: vc(14);

          @include desktop {
            border-width: vc(8);
            border-radius: vc(41);
          }

          &--1 {
            top: 0;
            right: 0;

            @include size(265, 246);

            @include tablet {
              @include size(285, 264);
            }

            @include desktop {
              @include size(676, 456);
            }
          }

          &--2 {
            bottom: 0;
            left: 0;

            @include size(186, 188);

            @include tablet {
              @include size(201, 201);
            }

            @include desktop {
              @include size(542, 365);
            }
          }
        }
      }

      #{$p}__decor {
        &--1 {
          @include size(157, 157);
          right: vc(25);
          bottom: vc(66);
          z-index: 1;

          @include tablet {
            right: vc(27);
            bottom: vc(70);

            @include size(169, 169);
          }

          @include desktop {
            right: vc(96);
            bottom: vc(29);

            @include size(355, 355);
          }
        }

        &--2 {
          right: vc(-42);
          bottom: vc(-68);
          z-index: 2;

          @include size(201, 201);

          @include tablet {
            right: auto;
            left: vc(0);
            bottom: vc(-124);

            @include size(346, 346);
          }

          @include desktop {
            right: auto;
            left: vc(-71);
            bottom: vc(-293);

            @include size(908, 908);
          }
        }

        &--3 {
          top: vc(17);
          right: vc(-26);

          @include size(119, 125);

          @include tablet {
            top: auto;
            bottom: vc(5);
            right: vc(-26);

            @include size(146, 154);
          }


          @include desktop {
            top: auto;
            bottom: vc(-53);
            right: vc(-24);

            @include size(331, 347);
          }
        }

        &--4 {
          bottom: vc(-38);
          right: vc(58);

          @include size(71, 60);
          z-index: 3;

          @include tablet {
            bottom: vc(-55);
            left: vc(250);
            right: auto;

            @include size(131, 111);
          }

          @include desktop {
            bottom: vc(-196);
            left: vc(442);
            right: auto;

            @include size(297, 253);
          }
        }

        &--5 {
          right: vc(-51);
          bottom: vc(-31);

          @include size(103, 116);
          z-index: 1;

          @include tablet {
            right: auto;
            left: vc(-78);
            bottom: vc(-87);

            @include size(193, 217);
          }

          @include desktop {
            right: auto;
            left: vc(-54);
            bottom: vc(-168);

            @include size(208, 233);
          }
        }
      }
    }

    &--5 {
      padding: vc(68) 0 vc(247);

      @include tablet {
        padding: vc(169) 0 vc(111);
      }

      @include desktop {
        padding: vc(233) 0 vc(561);
      }

      #{$p}__bg {
        &--1 {
          left: 0;
          top: 0;
          width: 100%;
          z-index: 2;
        }
      }

      #{$p}__row {
        z-index: 3;
      }

      #{$p}__info {
        @include tablet {
          max-width: vc(312);
        }

        @include desktop {
          max-width: vc(364);
        }
      }

      #{$p}__image-box {
        position: absolute;
        top: vc(68);
        left: vc(-15);

        @include size(320, 309);

        @include tablet {
          top: vc(-74);
          right: vc(-50);
          left: auto;

          @include size(428, 413);
        }

        @include desktop {
          right: vc(-150);
          top: vc(-199);

          @include size(1053, 1012);
        }
      }

      #{$p}__decor {
        &--1 {
          display: none;

          @include desktop {
            display: block;
            right: vc(-73);
            bottom: vc(-87);
            z-index: -1;
          }
        }

        &--2 {
          left: vc(-153);
          bottom: vc(-105);
          z-index: 4;

          @include size(318, 252);

          @include tablet {
            left: vc(-138);
            bottom: vc(-232);

            @include size(464, 369);
          }

          @include desktop {
            left: vc(-640);
            top: vc(261);

            @include size(1474, 1172);
          }
        }

        &--3 {
          bottom: vc(6);
          right: vc(42);
          z-index: 4;

          @include size(48, 47);

          @include tablet {
            bottom: vc(-34);
            right: vc(94);

            @include size(84, 83);
          }

          @include desktop {
            bottom: vc(-80);
            right: vc(178);

            @include size(196, 193);
          }
        }

        &--4 {
          bottom: vc(117);
          right: vc(17);
          z-index: 4;

          @include size(27, 27);

          @include tablet {
            bottom: vc(159);
            right: vc(50);

            @include size(33, 33);
          }

          @include desktop {
            bottom: vc(313);
            right: vc(27);

            @include size(109, 109);
          }
        }
      }
    }

    &--6 {
      padding: vc(99) 0 vc(250);

      @include tablet {
        padding: vc(274) 0 vc(152);
      }

      @include desktop {
        padding: vc(534) 0 vc(586);
      }

      #{$p}__row {
        @include tablet {
          flex-direction: row-reverse;
        }
      }

      #{$p}__bg {
        &--1 {
          left: 0;
          top: 0;
          width: 100%;
          z-index: 3;
        }
      }

      #{$p}__info {
        z-index: 4;

        @include tablet {
          width: vc(307);
        }

        @include desktop {
          width: vc(444);
          margin-right: vc(190);
        }
      }

      #{$p}__title {
        margin-bottom: vc(10);

        @include stroke(5, $color-default-white);

        @include tablet {
          @include stroke(11, $color-default-white);
        }

        @include desktop {
          margin-bottom: vc(35);
        }
      }

      #{$p}__text {
        @include desktop {
          max-width: vc(368);
        }
      }

      #{$p}__image-box {
        position: absolute;
        top: vc(52);
        left: vc(-10);
        z-index: 4;

        @include size(300, 290);

        @include tablet {
          top: vc(-107);
          left: vc(-38);

          @include size(374, 363);
        }

        @include desktop {
          top: vc(-315);
          left: vc(-201);

          @include size(999, 970);
        }
      }

      #{$p}__decor {
        &--1 {
          left: 0;
          bottom: 0;
          width: 100%;
          z-index: 4;

          @include desktop {
            bottom: vc(-35);
          }
        }

        &--2 {
          left: 0;
          bottom: 0;
          z-index: 3;

          @include size(85, 90);

          @include tablet {
            left: vc(-68);

            @include size(217, 228);
          }

          @include desktop {
            left: vc(-266);
            bottom: vc(-174);

            @include size(688, 723);
          }
        }

        &--3 {
          right: 0;
          bottom: 0;
          z-index: 3;

          @include size(78, 85);

          @include tablet {
            @include size(197, 215);
          }

          @include desktop {
            right: vc(-42);
            bottom: vc(-105);

            @include size(627, 684);
          }
        }
      }
    }

    &--7 {
      padding: vc(32) 0 vc(361);

      @include tablet {
        padding: vc(106) 0 vc(144);
      }

      @include desktop {
        padding: vc(382) 0 vc(572);
      }

      #{$p}__bg {
        &--1 {
          left: 0;
          top: 0;
          width: 100%;
          z-index: 0;
        }
      }

      #{$p}__row {
        @include tablet {
          flex-direction: row-reverse;
        }
      }

      #{$p}__title {
        margin-bottom: vc(15);

        @include tablet {
          margin-bottom: vc(20);
        }

        @include desktop {
          margin-bottom: vc(24);
        }
      }

      #{$p}__text {
        margin-bottom: vc(15);

        &:last-child {
          margin-top: vc(0);
        }

        @include desktop {
          &:last-child {
            margin-top: vc(35);
          }
        }
      }

      #{$p}__info {
        @include tablet {
          width: vc(307);
        }

        @include desktop {
          width: vc(403);
          margin-right: vc(303);
        }
      }

      #{$p}__image-box {
        position: absolute;
        left: vc(-39);
        bottom: vc(-347);

        @include size(421, 402);

        @include tablet {
          left: vc(-89);
          bottom: vc(-164);

          @include size(517, 494);
        }

        @include desktop {
          left: vc(-344);
          bottom: vc(-533);

          @include size(1333, 1275);
        }
      }

      #{$p}__decor {
        &--1 {
          bottom: vc(103);
          right: vc(109);

          @include size(262, 237);

          @include tablet {
            bottom: vc(129);
            right: vc(136);

            @include size(322, 291);
          }

          @include desktop {
            bottom: vc(334);
            right: vc(354);

            @include size(828, 748);
          }
        }

        &--2 {
          display: none;

          @include tablet {
            display: block;
            right: vc(-168);
            bottom: vc(-44);

            @include size(299, 272);
          }

          @include desktop {
            right: vc(-387);
            bottom: vc(-37);

            @include size(959, 873);
          }
        }

        &--3 {
          display: none;

          @include tablet {
            display: block;
            right: vc(12);
            bottom: vc(13);

            @include size(46, 216);
          }

          @include desktop {
            right: vc(182);
            bottom: vc(143);

            @include size(147, 693);
          }
        }

        &--4 {
          top: vc(-10);
          right: vc(-40);

          @include size(118, 118);

          @include tablet {
            top: vc(-2);
            right: vc(-4);

            @include size(141, 141);
          }

          @include desktop {
            top: vc(112);
            right: vc(226);

            @include size(322, 323);
          }
        }
      }
    }

    &--8 {
      padding: vc(12) 0 vc(107);

      @include tablet {
        padding: vc(80) 0 vc(157);
      }

      @include desktop {
        padding: vc(126) 0 vc(498);
      }

      #{$p}__title {
        margin-bottom: vc(15);

        @include tablet {
          margin-bottom: vc(20);
        }

        @include desktop {
          margin-bottom: vc(25);
        }
      }

      #{$p}__text {
        margin-bottom: vc(15);

        @include desktop {
          margin-bottom: vc(25);
          max-width: vc(433);

          &--lead {
            max-width: vc(758);
          }
        }
      }

      #{$p}__row {
        @include tablet {
          flex-direction: row;
        }
      }

      #{$p}__info {
        z-index: 2;

        @include tablet {
          max-width: vc(312);
        }

        @include desktop {
          max-width: vc(758);
        }
      }

      #{$p}__image-box {
        z-index: 1;

        &-img {
          border-color: $color-pattens-blue-7;
          z-index: 2;

          @include tablet {
            border-width: vc(3);
            border-radius: vc(17);
          }

          @include desktop {
            border-width: vc(8);
            border-radius: vc(40);
          }
        }

        @include tablet {
          top: vc(53);

          @include size(312, 213);
        }

        @include desktop {
          @include size(699, 478);
        }
      }

      #{$p}__decor {
        &--1 {
          left: vc(-151);
          top: vc(-125);
          max-width: none;
          z-index: -1;

          @include size(589, 481);

          @include desktop {
            left: vc(-361);
            top: vc(-315);

            @include size(1425, 1165);
          }
        }

        &--2 {
          left: vc(-15);
          bottom: vc(-4);

          @include size(160, 136);
          z-index: 3;

          @include tablet {
            left: vc(-65);
            bottom: vc(-41);

            @include size(251, 214);
            z-index: 0;
          }

          @include desktop {
            left: vc(-129);
            bottom: vc(-23);

            @include size(713, 609);
          }
        }

        &--3 {
          width: 100%;
          left: 0;
          bottom: 0;
        }
      }
    }

    &--9 {
      z-index: 1;
      padding: vc(34) 0 vc(207);

      @include tablet {
        padding: vc(0) 0 vc(116);
      }

      @include desktop {
        padding: vc(107) 0 vc(264);
      }

      #{$p}__bg {
        &--1 {
          left: 0;
          top: 0;
          width: 100%;
          z-index: 0;
        }
      }

      #{$p}__row {
        flex-direction: column-reverse;
        @include tablet {
          flex-direction: row-reverse;
        }
      }

      #{$p}__title {
        font-size: vc(28);
        line-height: vc(34);
        margin-bottom: vc(9);

        @include stroke(4, $color-default-white);
        z-index: 1;

        @include desktop {
          margin-bottom: vc(20);
          font-size: vc(70);
          line-height: vc(84);
          @include stroke(11, $color-default-white);
        }
      }

      #{$p}__text {
        font-weight: 700;
        font-size: vc(16);
        line-height: vc(20);
        color: $color-default-white;
        z-index: 1;

        @include desktop {
          font-size: vc(40);
          line-height: vc(50);
        }
      }

      #{$p}__info {
        width: vc(159);
        margin: 0 auto;

        @include tablet {
          margin-left: vc(100);
          padding-top: vc(50);
        }

        @include desktop {
          margin-left: vc(222);
          padding-top: vc(140);
          width: vc(400);
        }
      }

      #{$p}__image-box {
        @include size(290, 271);
        margin-bottom: vc(57);

        &-img {
          position: relative;
          z-index: 1;
        }

        @include tablet {
          @include size(305, 287);
          margin: vc(-3) 0 0 vc(13);
        }

        @include desktop {
          @include size(803, 747);
          margin: vc(60) 0 0 vc(-27);
        }
      }

      #{$p}__decor {
        &--1 {
          max-width: none;
          right: vc(-204);
          bottom: vc(-193);
          @include size(593, 490);

          @include tablet {
            right: vc(-149);
          }

          @include desktop {
            right: vc(-440);
            bottom: vc(-480);
            @include size(1504, 1273);
          }
        }

        &--2 {
          max-width: none;
          top: vc(-121);
          left: vc(-128);
          @include size(386, 388);
          z-index: 0;

          @include tablet {
            top: vc(-71);
          }

          @include desktop {
            top: vc(-161);
            left: vc(-328);
            @include size(963, 969);
          }
        }

        &--3 {
          max-width: none;
          bottom: vc(-180);
          @include size(167, 168);

          @include tablet {
            bottom: vc(-30);
          }

          @include desktop {
            bottom: vc(10);
            @include size(420, 420);
          }
        }
        &--4 {
          right: vc(-30);
          bottom: vc(3);
          @include size(49, 49);
          z-index: 0;

          @include desktop {
            right: vc(-80);
            @include size(134, 134);
          }
        }

        &--5 {
          right: vc(-31);
          bottom: vc(-24);
          @include size(64, 64);
          z-index: 2;

          @include desktop {
            right: vc(-81);
            bottom: vc(-72);
            @include size(175, 175);
          }
        }
      }
    }

    &--10 {
      padding: vc(60) 0 vc(337);

      @include tablet {
        padding: vc(64) 0 vc(15);
      }

      @include desktop {
        padding: vc(255) 0 vc(469);
      }

      #{$p}__bg {
        &--1 {
          left: 0;
          top: 0;
          width: 100%;
          z-index: 0;

          @include tablet {
            top: vc(-60);
          }

          @include desktop {
            top: vc(-170);
          }
        }
      }

      #{$p}__row {
        @include tablet {
          flex-direction: row-reverse;
        }
      }

      #{$p}__image-box {
        position: absolute;
        left: vc(-57);
        bottom: vc(-425);
        @include size(374, 412);

        @include tablet {
          left: vc(-109);
          bottom: vc(-154);
          @include size(527, 580);
        }

        @include desktop {
          left: vc(-216);
          bottom: vc(-778);
          @include size(1101, 1211);
        }
      }

      #{$p}__title {
        margin-bottom: vc(15);

        @include tablet {
          margin-bottom: vc(20);
          font-size: vc(100);
          line-height: vc(120);
        }

        @include desktop {
          font-size: vc(70);
          line-height: vc(84);
        }
      }

      #{$p}__info {
        @include tablet {
          width: vc(312);
        }

        @include desktop {
          margin-right: vc(70);
          width: vc(651);
        }
      }

      #{$p}__text {
        &--lead {
          font-size: vc(16);
          line-height: vc(20);

          @include tablet {
            font-size: vc(18);
            line-height: vc(23);
          }

          @include desktop {
            font-size: vc(24);
            line-height: vc(30);
          }
        }
      }

      #{$p}__decor {
        &--1 {
          display: none;

          @include tablet {
            display: block;
            top: vc(-60);
            right: vc(-97);
            @include size(287, 278);
          }
          @include desktop {
            top: vc(321);
            right: vc(15);
            @include size(619, 599);
          }
        }
      }
    }

    &--11 {
      padding: vc(46) 0 vc(98);
      z-index: 1;

      @include tablet {
        padding: vc(76) 0 vc(60);
      }

      @include desktop {
        padding: vc(256) 0 vc(60);
      }

      #{$p}__bg {
        &--1 {
          left: 0;
          top: 0;
          width: 100%;
          z-index: 0;
        }
      }

      #{$p}__row {
        @include tablet {
          flex-direction: row;
        }
      }

      #{$p}__info {
        margin-bottom: vc(43);

        @include tablet {
          width: vc(321);
        }

        @include desktop {
          margin: vc(60) 0 0 vc(187);
          width: vc(497);
        }
      }

      #{$p}__image-box {
        margin: 0 auto;
        @include size(176, 248);
        z-index: 1;

        &-img {
          border-width: vc(4);
          border-radius: vc(19);
          z-index: 1;

          @include tablet {
            border-width: vc(4);
          }

          @include desktop {
            border-radius: vc(41);
            border-width: vc(8);
          }
        }

        @include tablet {
          margin-top: vc(-10);
          margin-left: vc(43);
          @include size(155, 218);
        }

        @include desktop {
          margin-left: auto;
          margin-right: vc(180);
          @include size(355, 472);
        }
      }

      #{$p}__decor {
        &--1 {
          max-width: none;
          top: vc(-66);
          left: vc(-67);
          @include size(402, 388);
          z-index: -1;

          @include tablet {
            top: vc(-56);
            left: vc(-57);
            @include size(353, 340);
          }

          @include desktop {
            top: vc(-126);
            left: vc(-117);
            @include size(764, 736);
          }
        }

        &--2 {
          display: none;

          @include desktop {
            bottom: vc(17);
            left: vc(172);
            display: block;
            @include size(224, 251);
          }
        }

        &--3 {
          right: vc(-130);
          top: vc(240);
          z-index: 2;
          @include size(180, 140);

          @include tablet {
            right: vc(12);
            top: vc(84);
            @include size(140, 109);
          }

          @include desktop {
            right: vc(46);
            top: vc(284);
            @include size(300, 234);
          }
        }
      }
    }
  }
}
