-
  const ARTICLE_IDS = {
    ALL: 'all',
    AFFILIATES: 'affiliates',
    ANNUAL_REPORTS: 'annual_reports',
    MATERIAL_FACTS: 'material_facts',
    ANNUAL_FINANCIAL_STATEMENTS: 'annual_financial_statements',
    STATUTORY_DOCUMENTS: 'statutory_documents',
    AUDIT_REPORT: 'audit_report',
    VOTING_RESULTS_REPORT: 'voting_results_report',
  };

  const DOCUMENTS = [
    {
      headline: "2021",
      items: [
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.ANNUAL_REPORTS,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2021 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "word",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy:"Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
      ],
    },
    {
      headline: "2020",
      items: [
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2020 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
      ],
    },
    {
      headline: "2019",
      items: [
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.AUDIT_REPORT,
          tagsCopy: "Аудиторское заключение",

          name: "Аудиторское заключение за 2019 год",
          copy: "2, 53 Мб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
        {
          href: "#",

          key: ARTICLE_IDS.MATERIAL_FACTS,
          tagsCopy: "Существенные факты",

          name: "Информация об акционных соглашениях",
          copy: "305, 50 Кб, PDF | добавлено 12 мая",
          mods: "pdf",
        },
      ],
    },
  ];

  const NAV_DOCUMENTS = [
    {
      name: "Все документы",
      href: "#" + ARTICLE_IDS.ALL,
      isActive: true,
    },
    {
      name: "Аффилированные лица",
      href: "#" + ARTICLE_IDS.AFFILIATES,
      isActive: false,
    },
    {
      name: "Годовые отчеты",
      href: "#" + ARTICLE_IDS.ANNUAL_REPORTS,
      isActive: false,
    },
    {
      name: "Существенные факты",
      href: "#" + ARTICLE_IDS.MATERIAL_FACTS,
      isActive: false,
    },
    {
      name: "Годовая бухгалтерская отчетность",
      href: "#" + ARTICLE_IDS.ANNUAL_FINANCIAL_STATEMENTS,
      isActive: false,
    },
    {
      name: "Уставные документы",
      href: "#" + ARTICLE_IDS.STATUTORY_DOCUMENTS,
      isActive: false,
    },
    {
      name: "Аудиторское заключение",
      href: "#" + ARTICLE_IDS.AUDIT_REPORT,
      isActive: false,
    },
    {
      name: "Отчет об итогах голосования",
      href: "#" + ARTICLE_IDS.VOTING_RESULTS_REPORT,
      isActive: false,
    },
  ];

mixin section-documents(data, mods)
  section.section-documents
    .container
      h1.section-documents__headline.headline!= "Документы"

      aside.section-documents__controls(data-documents-nav-container)
        .swiper(data-documents-nav-slider)
          .swiper-wrapper
            each link in NAV_DOCUMENTS
              .swiper-slide.section-documents__slide
                - const isActive = link.isActive ? 'is-active' : '';
                button.section-documents__control(class=isActive, id=link.href)!=link.name

          .section-documents__swiper-scrollbar.swiper-scrollbar.swiper-scrollbar--custom(data-scrollbar)

      each article in DOCUMENTS
        article.section-documents__article
          h2.section-documents__subtitle!= article.headline
          ul.section-documents__items

            each item in article.items

              li.section-documents__item
                - const { href, key, tagsCopy, name, copy, mods } = item;

                +link-download({href, key, tagsCopy, name, copy}, mods)

      .section-documents__actions
        button.section-documents__action(aria-label="Архив документов")!= "Архив документов"
