.modal {
  $block-name: &; // #{$block-name}__element

  &--added {
    #{$block-name}__content {
      position: relative;
      overflow: hidden;
      z-index: 1;
      max-width: vc(295);
      padding: vc(54) vc(12) vc(54) vc(88);
      text-align: left;
      border: vc(4) solid $color-default-white;
      border-radius: vc(30);

      @include tablet {
        max-width: vc(645);
        padding: vc(120) vc(73) vc(120) vc(300);
        border-width: vc(8);
        border-radius: vc(40);
      }

      @include desktop {
        max-width: vc(715);
        padding: vc(187) vc(85) vc(187) vc(340);
      }
    }

    #{$block-name}__close-btn {
      top: vc(14);
      right: vc(14);

      @include tablet {
        top: vc(28);
        right: vc(28);
      }

      @include desktop {
        top: vc(20);
        right: vc(20);
      }
    }

    #{$block-name}__headline {
      margin: 0;
      font-weight: 700;
      font-size: vc(18);
      line-height: 1.3;
      font-family: $ff-geometria;

      @include tablet {
        font-size: vc(25);
      }

      @include desktop {
        //margin-bottom: vc(35);
      }
    }

    #{$block-name}__decor {
      margin: 0;
      position: absolute;
      left: vc(-23);
      bottom: 0;

      @include size(121, 158);

      @include tablet {
        left: vc(17);
        bottom: vc(-40);
        @include size(286, 371);
      }

      @include desktop {
        left: vc(20);
        bottom: 0;
        @include size(319, 413);
      }
    }
  }
}
