.modal {
  $block-name: &; // #{$block-name}__element

  &--distributors {
    #{$block-name}__content {
      max-width: vc(640);
      padding: vc(40) vc(10);
      text-align: center;

      @include tablet {
        padding-right: vc(20);
        padding-left: vc(20);
        border-radius: vc(30);
      }

      @include desktop {
        max-width: vc(1520);
        padding: vc(70) vc(55) vc(65);
        border-radius: vc(40);
      }
    }

    #{$block-name}__headline {
      margin: 0 0 vc(10);
      font-weight: 700;
      font-size: vc(24);
      line-height: 1.2;
      font-family: $ff-geometria;
      @include stroke(3, $color-default-white);

      @include tablet {
        font-size: vc(40);
      }

      @include desktop {
        margin-bottom: vc(30);
        font-size: vc(70);
        @include stroke(6, $color-default-white);
      }
    }

    #{$block-name}__subtitle {
      margin: 0 0 vc(30);
      font-weight: 400;
      font-size: vc(14);
      line-height: 1.4;
      font-family: $ff-geometria;

      @include tablet {
        margin-bottom: vc(50);
        font-size: vc(16);
      }

      @include desktop {
        margin-bottom: vc(100);
        font-size: vc(30);
      }
    }

    #{$block-name}__items {
      margin: 0 0 vc(30);
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      @include tablet {
        margin-bottom: vc(50);
        gap: vc(20);
      }

      @include desktop {
        margin-bottom: vc(180);
        gap: vc(48);
      }
    }

    #{$block-name}__items #{$block-name}__item {
      max-width: 100%;
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: vc(15);
      }

      @include tablet {
        margin-bottom: 0;
        max-width: calc((100% - vc(20)) / 2);
      }

      @include desktop {
        max-width: calc((100% - vc(48)) / 2);
      }
    }

    #{$block-name}__form-inner {
      display: grid;
      gap: vc(20);

      @include desktop {
        grid-template-columns: repeat(4, calc((100% - vc(15) * 3) / 4));
        gap: vc(15);
        align-items: flex-end;
      }
    }

    #{$block-name}__actions {
      margin-top: vc(40);

      @include desktop {
        margin-top: 0;
      }
    }

    #{$block-name}__action {
      max-width: 100%;
      width: 100%;
      text-align: center;

      @include tablet {
        max-width: vc(315);
      }

      @include desktop {
        max-width: 100%;
        padding: vc(15) vc(55) vc(22);
        font-size: vc(18);
      }
    }

    #{$block-name}__copy {
      margin-top: vc(35);
      display: block;
      font-weight: 500;
      font-size: vc(14);
      line-height: 1.3;
      font-family: $ff-geometria;
      text-align: center;

      @include tablet {
        margin-top: vc(40);
        font-size: vc(18);
      }
    }
  }
}
