.modal {
  $block-name: &; // #{$block-name}__element

  &--thanks {
    #{$block-name}__content {
      position: relative;
      overflow: hidden;
      max-width: vc(645);
      padding: vc(80) vc(25) vc(107);
      text-align: center;
      border: vc(4) solid $color-default-white;
      z-index: 1;

      @include tablet {
        padding: vc(120) vc(55) vc(105);
        border-radius: vc(30);
      }

      @include desktop {
        max-width: vc(790);
        padding: vc(110) vc(125) vc(135);
        border-width: vc(8);
      }
    }

    #{$block-name}__close-btn {
      top: vc(14);
      right: vc(14);

      @include tablet {
        top: vc(28);
        right: vc(28);
      }

      @include desktop {
        top: vc(20);
        right: vc(20);
      }
    }

    #{$block-name}__headline {
      margin: 0 0 vc(20);
      font-weight: 700;
      font-size: vc(24);
      line-height: 1.2;
      font-family: $ff-geometria;

      @include stroke(4, $color-default-white);

      @include tablet {
        font-size: vc(40);
      }

      @include desktop {
        margin-bottom: vc(35);
        @include stroke(8, $color-default-white);
      }
    }

    #{$block-name}__description {
      font-weight: 700;
      font-size: vc(16);
      line-height: 1.3;
      font-family: $ff-geometria;

      @include tablet {
        font-size: vc(18);
      }

      @include desktop {
        font-size: vc(25);
      }
    }

    #{$block-name}__decor {
      position: absolute;
      max-width: none;
      margin: 0;
      z-index: -1;

      &--1 {
        right: vc(-172);
        bottom: vc(-197);
        @include size(411, 411);

        @include tablet {
          right: vc(-217);
          bottom: vc(-322);
          @include size(635, 635);
        }

        @include desktop {
          right: vc(-209);
          bottom: vc(-340);
        }
      }

      &--2 {
        left: vc(-71);
        bottom: vc(-154);
        @include size(208, 325);

        @include tablet {
          left: vc(-63);
          bottom: vc(-103);
          @include size(209, 407);
        }

        @include desktop {
          left: vc(-30);
          bottom: vc(-103);
        }
      }
    }
  }
}
