mixin sprite()
  .visually-hidden
    include ../../../../build/img/sprite.svg

    svg(width='0' height='0')
      clippath#svgClipCatalogDecorationHeaderLayer1Lg(clippathunits='objectBoundingBox')
        path(d='M 0.820312 0.0429688 C 0.914062 0.0976562 1 0.0429688 1 0.0429688 L 1 1 L 0 1 L 0 0.0429688 C 0 0.0429688 0.121094 -0.0117188 0.285156 0.0429688 C 0.449219 0.09375 0.5 0.0429688 0.554688 0.0195312 C 0.613281 -0.00390625 0.722656 -0.015625 0.820312 0.0429688 Z M 0.820312 0.0429688')
    svg(width='0' height='0')
      clippath#svgClipCatalogDecorationHeaderLayer2Lg(clippathunits='objectBoundingBox')
        path(d='M 0.828125 0.0390625 C 0.925781 0.0898438 1.011719 0.0390625 1.011719 0.0390625 L 1.011719 1 L 0 1 L 0 0.0390625 C 0 0.0390625 0.121094 -0.0117188 0.289062 0.0390625 C 0.453125 0.0859375 0.507812 0.0390625 0.5625 0.0195312 C 0.617188 -0.00390625 0.730469 -0.0117188 0.828125 0.0390625 Z M 0.828125 0.0390625')
    svg(width='0' height='0')
      clippath#svgClipCatalogDecorationHeaderLayer3Lg(clippathunits='objectBoundingBox')
        path(d='M 0.828125 0.117188 C 0.925781 0.277344 1.011719 0.117188 1.011719 0.117188 L 1.011719 1.449219 L 0 1.449219 L 0 0.117188 C 0 0.117188 0.121094 -0.0351562 0.289062 0.117188 C 0.453125 0.269531 0.507812 0.128906 0.5625 0.0546875 C 0.617188 -0.015625 0.730469 -0.0429688 0.828125 0.117188 Z M 0.828125 0.117188')
    svg(width='0' height='0')
      clippath#svgClipMainBannerSm(clippathunits='objectBoundingBox')
        path(d='M 0.132812 0.960938 C 0.0742188 0.96875 0 0.976562 0 0.976562 L 0 0 L 1 0 L 1 0.925781 C 1 0.925781 0.96875 0.960938 0.925781 0.972656 C 0.882812 0.984375 0.828125 0.992188 0.765625 0.992188 C 0.636719 1 0.578125 0.980469 0.441406 0.964844 C 0.328125 0.953125 0.246094 0.949219 0.132812 0.960938 Z M 0.132812 0.960938 ')
    svg(width='0' height='0')
      clippath#svgClipMainBanner(clippathunits='objectBoundingBox')
        path(d='M 0.132812 0.433594 C 0.0742188 0.449219 0 0.464844 0 0.464844 L 0 0 L 1 0 L 1 0.347656 C 1 0.347656 0.96875 0.425781 0.925781 0.457031 C 0.882812 0.488281 0.828125 0.503906 0.765625 0.511719 C 0.636719 0.523438 0.578125 0.480469 0.441406 0.441406 C 0.328125 0.410156 0.246094 0.40625 0.132812 0.433594 Z M 0.132812 0.433594')
    svg(width='0' height='0')
      clippath#svgClipUnderline(clippathunits='objectBoundingBox')
        path(d='M 0.175781 0.488281 C 0.140625 0.488281 0.0898438 0.492188 0.0625 0.492188 C 0.015625 0.492188 0.015625 0.492188 0.0195312 0.496094 C 0.0234375 0.5 0.0195312 0.503906 0.0117188 0.503906 C 0 0.503906 0 0.503906 0 0.507812 C 0 0.507812 0.00390625 0.511719 0.015625 0.511719 C 0.0234375 0.511719 0.0664062 0.507812 0.109375 0.507812 C 0.152344 0.507812 0.199219 0.507812 0.210938 0.507812 C 0.300781 0.503906 0.707031 0.5 0.761719 0.503906 C 0.792969 0.503906 0.820312 0.503906 0.863281 0.503906 C 0.875 0.503906 0.910156 0.503906 0.941406 0.503906 C 0.992188 0.507812 1 0.503906 1 0.503906 C 1 0.5 0.996094 0.5 0.988281 0.5 C 0.972656 0.496094 0.84375 0.496094 0.742188 0.492188 C 0.675781 0.492188 0.644531 0.492188 0.636719 0.488281 C 0.628906 0.488281 0.59375 0.488281 0.433594 0.488281 C 0.328125 0.488281 0.210938 0.488281 0.175781 0.488281 Z M 0.175781 0.488281 ')
    svg(width='0' height='0')
      clippath#svgClipBtnPrev(clippathunits='objectBoundingBox')
        path(d='M 0.972656 0.179688 C 0.972656 0.128906 0.953125 0.0820312 0.914062 0.046875 C 0.875 0.015625 0.824219 0 0.773438 0.0078125 L 0.171875 0.078125 C 0.0820312 0.0898438 0.015625 0.164062 0.015625 0.25 L 0.015625 0.730469 C 0.015625 0.816406 0.078125 0.890625 0.167969 0.902344 L 0.769531 0.996094 C 0.875 1.011719 0.972656 0.933594 0.972656 0.824219 Z M 0.972656 0.179688')
    svg(width='0' height='0')
      clippath#svgClipBtnNext(clippathunits='objectBoundingBox')
        path(d='M 0.0195312 0.179688 C 0.0195312 0.128906 0.0429688 0.0820312 0.0820312 0.046875 C 0.117188 0.015625 0.171875 0 0.222656 0.0078125 L 0.824219 0.078125 C 0.910156 0.0898438 0.976562 0.164062 0.976562 0.25 L 0.976562 0.730469 C 0.976562 0.816406 0.914062 0.890625 0.828125 0.902344 L 0.226562 0.996094 C 0.117188 1.011719 0.0195312 0.933594 0.0195312 0.824219 Z M 0.0195312 0.179688')
    svg(width='0' height='0')
      clippath#svgClipBtnSkewCardBuySm(clippathunits='objectBoundingBox')
        path(d='M 0 0.417969 C 0 0.398438 0.015625 0.386719 0.03125 0.386719 L 0.972656 0.421875 C 0.988281 0.425781 1 0.4375 1 0.453125 L 1 0.585938 C 1 0.605469 0.988281 0.617188 0.96875 0.617188 L 0.03125 0.617188 C 0.0117188 0.617188 0 0.605469 0 0.585938 Z M 0 0.417969')
    svg(width='0' height='0')
      clippath#svgClipBtnSkewCardBuyMd(clippathunits='objectBoundingBox')
        path(d='M 0 0.753906 C 0 0.75 0 0.746094 0.00390625 0.742188 C 0.0078125 0.738281 0.0117188 0.738281 0.015625 0.738281 L 0.984375 0.78125 C 0.992188 0.78125 1 0.789062 1 0.796875 L 1 0.984375 C 1 0.992188 0.992188 1 0.984375 1 L 0.015625 1 C 0.0078125 1 0 0.992188 0 0.984375 Z M 0 0.753906')
    svg(width='0' height='0')
      clippath#svgClipBtnSkewCardBuyLg(clippathunits='objectBoundingBox')
        path(d='M 0 0.796875 C 0 0.78125 0.015625 0.769531 0.03125 0.769531 L 0.972656 0.804688 C 0.988281 0.804688 1 0.820312 1 0.835938 L 1 0.96875 C 1 0.984375 0.988281 1 0.96875 1 L 0.03125 1 C 0.0117188 1 0 0.984375 0 0.96875 Z M 0 0.796875')
    svg(width='0' height='0')
      clippath#svgClipBtnSkewSm(clippathunits='objectBoundingBox')
        path(d='M 0 0.652344 C 0 0.644531 0.0078125 0.636719 0.0195312 0.636719 L 0.984375 0.71875 C 0.992188 0.71875 1 0.726562 1 0.734375 L 1 0.984375 C 1 0.992188 0.992188 1 0.980469 1 L 0.0195312 1 C 0.0078125 1 0 0.992188 0 0.984375 Z M 0 0.652344 ')
    svg(width='0' height='0')
      clippath#svgClipBtnSkewMd(clippathunits='objectBoundingBox')
        path(d='M 0 0.792969 C 0 0.773438 0.015625 0.761719 0.03125 0.761719 L 0.972656 0.8125 C 0.988281 0.816406 1 0.828125 1 0.84375 L 1 0.972656 C 1 0.988281 0.988281 1 0.96875 1 L 0.03125 1 C 0.0117188 1 0 0.988281 0 0.972656 Z M 0 0.792969 ')
    svg(width='0' height='0')
      clippath#svgClipBtnSkewLg(clippathunits='objectBoundingBox')
        path(d='M 0 0.792969 C 0 0.773438 0.015625 0.761719 0.03125 0.761719 L 0.972656 0.8125 C 0.988281 0.8125 1 0.828125 1 0.84375 L 1 0.96875 C 1 0.984375 0.988281 1 0.96875 1 L 0.03125 1 C 0.0117188 1 0 0.984375 0 0.96875 Z M 0 0.792969')
    svg(width='0' height='0')
      clippath#svgClipCardSm(clippathunits='objectBoundingBox')
        path(d='M 0 0.0625 C 0 0.0234375 0.0703125 -0.0078125 0.136719 0.00390625 L 0.925781 0.160156 C 0.964844 0.167969 0.996094 0.191406 0.996094 0.214844 L 0.996094 0.941406 C 0.996094 0.972656 0.949219 1 0.890625 1 L 0.101562 1 C 0.046875 1 0 0.972656 0 0.941406 Z M 0 0.0625')
    svg(width='0' height='0')
      clippath#svgClipCardMd(clippathunits='objectBoundingBox')
        path(d='M 0 0.0585938 C 0 0.0195312 0.0703125 -0.0078125 0.136719 0.00390625 L 0.929688 0.15625 C 0.972656 0.164062 1 0.1875 1 0.214844 L 1 0.941406 C 1 0.972656 0.953125 1 0.898438 1 L 0.101562 1 C 0.046875 1 0 0.972656 0 0.941406 Z M 0 0.0585938')
    svg(width='0' height='0')
      clippath#svgClipCardLg(clippathunits='objectBoundingBox')
        path(d='M 0 0.0625 C 0 0.0195312 0.0585938 -0.0078125 0.113281 0.00390625 L 0.933594 0.160156 C 0.972656 0.167969 1 0.191406 1 0.21875 L 1 0.941406 C 1 0.972656 0.960938 1 0.910156 1 L 0.0898438 1 C 0.0390625 1 0 0.972656 0 0.941406 Z M 0 0.0625')
    svg(width='0' height='0')
      clippath#svgClipCardTastyBrands(clippathunits='objectBoundingBox')
        path(d='M 0 0.0742188 C 0 0.0273438 0.0507812 -0.0078125 0.105469 0.00390625 L 0.933594 0.160156 C 0.972656 0.167969 1 0.195312 1 0.230469 L 1 0.925781 C 1 0.964844 0.960938 1 0.914062 1 L 0.0859375 1 C 0.0390625 1 0 0.964844 0 0.925781 Z M 0 0.0742188 ')
    svg(width='0' height='0')
      clippath#svgClipExcursionArticle2(clippathunits='objectBoundingBox')
        path(d='M 0.730469 0.0273438 C 0.890625 0.0117188 0.90625 -0.0117188 1 0.0078125 L 1 1 C 1 1 0.710938 1 0.511719 1 C 0.320312 1 0 1 0 1 L 0 0.0546875 C 0.015625 0.0585938 0.09375 0.0742188 0.226562 0.046875 C 0.398438 0.0078125 0.550781 0.046875 0.730469 0.0273438 Z M 0.730469 0.0273438 ')
    svg(width='0' height='0')
      clippath#svgClipExcursionArticle3(clippathunits='objectBoundingBox')
        path(d='M 0.652344 1.214844 C 0.832031 1.199219 0.90625 0.984375 1 1 L 1 0.0234375 C 1 0.0234375 0.695312 0 0.496094 0 C 0.300781 0 0 0.0234375 0 0.0234375 L 0 1 C 0.015625 1.003906 0.195312 1.144531 0.324219 1.117188 C 0.5 1.078125 0.46875 1.234375 0.652344 1.214844 Z M 0.652344 1.214844')
    svg(width='0' height='0')
      clippath#svgClipExcursionArticle4(clippathunits='objectBoundingBox')
        path(d='M 0.273438 0.0625 C 0.113281 0.03125 0.09375 0.0507812 0 0.078125 L 0 1 L 1 1 L 1 0.0390625 C 0.984375 0.0429688 0.882812 -0.0078125 0.738281 0 C 0.589844 0.0078125 0.464844 0.0976562 0.273438 0.0625 Z M 0.273438 0.0625')
    svg(width='0' height='0')
      clippath#svgClipExcursionArticle6(clippathunits='objectBoundingBox')
        path(d='M 0.273438 0.0195312 C 0.113281 0.0390625 0.09375 0.0898438 0 0.0703125 L 0 1 L 1 1 L 1 0.00390625 C 0.984375 0 0.847656 -0.0117188 0.738281 0.0585938 C 0.601562 0.152344 0.464844 -0.0078125 0.273438 0.0195312 Z M 0.273438 0.0195312')
    svg(width='0' height='0')
      clippath#svgClipMainIntro(clippathunits='objectBoundingBox')
        path(d='M 0.824219 0.0390625 C 0.921875 0.0898438 1 0.0390625 1 0.0390625 L 1 1 L 0 1 L 0 0.0351562 C 0 0.0351562 0.117188 -0.0117188 0.28125 0.0390625 C 0.449219 0.0859375 0.5 0.0390625 0.558594 0.0195312 C 0.613281 -0.00390625 0.726562 -0.0117188 0.824219 0.0390625 Z M 0.824219 0.0390625')
    svg(width='0' height='0')
      clippath#svgClipTextareaSm(clippathunits='objectBoundingBox')
        path(d='M 0.148438 0 C 0.0664062 0 0 0.0664062 0 0.148438 L 0 0.964844 C 0 0.984375 0.015625 1 0.0351562 1 L 0.0625 1 C 0.0625 0.960938 0.0898438 0.929688 0.121094 0.933594 L 0.941406 0.996094 C 0.972656 0.996094 1 0.972656 1 0.941406 L 1 0.148438 C 1 0.0664062 0.933594 0 0.851562 0 Z M 0.148438 0 ')

//- обязательно редактируйте id в svg с дефолтных на кастомные
//- visually-hidden позволит маскам и градиентам работать из спрайта, но нужно задать уникальные имена
