-
  const stackProductsData = [
    {
      headline: "Вся продукция",
      items: [
        {
          name: "Эскимо",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 1,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое",
          }
        },
        {
          name: "Вафельные стаканчики",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 3,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое",
          }
        },
        {
          name: "Рожки",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 4,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое",
          }
        },
        {
          name: "Брикеты",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 12,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое",
          }
        },
        {
          name: "Пакеты",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 15,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое",
          }
        },
        {
          name: "Льды",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 5,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое",
          }
        },
        {
          name: "Лакомка",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 6,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое",
          }
        },
        {
          name: "Пластиковые стаканчики",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 13,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое",
          }
        },
        {
          name: "Ванны",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 11,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое",
          }
        },
        {
          name: "Прочее",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 10,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое",
          }
        },
      ]
    },
    {
      headline: "Бренды",
      items: [
        {
          name: "Бодрая корова",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 1,
            format: "png",
            width: 175,
            height: 175,
            altname: "Бодрая корова",
          }
        },
        {
          name: "По рецептуре 1948&nbsp;года",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 2,
            format: "png",
            width: 175,
            height: 175,
            altname: "По рецептуре 1948 года",
          }
        },
        {
          name: "Настоящий пломбир&nbsp;15%",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 3,
            format: "png",
            width: 175,
            height: 175,
            altname: "Настоящий пломбир 15%",
          }
        },
        {
          name: "Труффальдино",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 4,
            format: "png",
            width: 175,
            height: 175,
            altname: "Труффальдино",
          }
        },
        {
          name: "Лимонайс",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 5,
            format: "png",
            width: 175,
            height: 175,
            altname: "Лимонайс",
          }
        },
        {
          name: "Пломбьеро Веро",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 6,
            format: "png",
            width: 175,
            height: 175,
            altname: "Пломбьеро Веро",
          }
        },
        {
          name: "Три молока",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 7,
            format: "png",
            width: 175,
            height: 175,
            altname: "Три молока",
          }
        },
        {
          name: "IceJam",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 8,
            format: "png",
            width: 175,
            height: 175,
            altname: "IceJam",
          }
        },
        {
          name: "Вертушка",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 9,
            format: "png",
            width: 175,
            height: 175,
            altname: "Вертушка",
          }
        },
        {
          name: "Степ/Левушка",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 10,
            format: "png",
            width: 175,
            height: 175,
            altname: "Степ/Левушка",
          }
        },
        {
          name: "Парфе",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 11,
            format: "png",
            width: 175,
            height: 175,
            altname: "Парфе",
          }
        },
        {
          name: "Лакомый кусочек",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 12,
            format: "png",
            width: 175,
            height: 175,
            altname: "Лакомый кусочек",
          }
        },
        {
          name: "Бумеранг",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 13,
            format: "png",
            width: 175,
            height: 175,
            altname: "Бумеранг",
          }
        },
        {
          name: "ГОСТ",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 14,
            format: "png",
            width: 175,
            height: 175,
            altname: "ГОСТ",
          }
        },
        {
          name: "Ё-айс",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 15,
            format: "png",
            width: 175,
            height: 175,
            altname: "Ё-айс",
          }
        },
        {
          name: "Мороженое из Белого&nbsp;города",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 16,
            format: "png",
            width: 175,
            height: 175,
            altname: "Мороженое из Белого города",
          }
        },
        {
          name: "Прочее",
          url: "#",
          image: {
            path: "catalog/icon-brands",
            image: 17,
            format: "png",
            width: 175,
            height: 175,
            altname: "Прочее",
          }
        }
      ]
    },
    {
      headline: "Виды смеси",
      items: [
        {
          name: "Пломбир 12%",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 2,
            format: "png",
            width: 175,
            height: 175,
            altname: "Пломбир 12%",
          },
          sale: 12,
        },
        {
          name: "Пломбир 15%",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 2,
            format: "png",
            width: 175,
            height: 175,
            altname: "Пломбир 15%",
          },
          sale: 15,
        },
        {
          name: "Сливочное",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 8,
            format: "png",
            width: 175,
            height: 175,
            altname: "Сливочное",
          }
        },
        {
          name: "Молочное",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 14,
            format: "png",
            width: 175,
            height: 175,
            altname: "Молочное",
          }
        },
        {
          name: "с ЗМЖ",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 7,
            format: "png",
            width: 175,
            height: 175,
            altname: "с ЗМЖ",
          }
        },
        {
          name: "Льды",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 5,
            format: "png",
            width: 175,
            height: 175,
            altname: "Льды",
          }
        },
        {
          name: "Сорбеты",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 9,
            format: "png",
            width: 175,
            height: 175,
            altname: "Сорбеты",
          }
        },
        {
          name: "Парфе",
          url: "#",
          image: {
            path: "catalog/icon-products",
            image: 16,
            format: "png",
            width: 175,
            height: 175,
            altname: "Парфе",
          }
        },
      ]
    }
  ];

mixin stack-products(props)
  section.stack-products
    .container
      header.stack-products__header
        h1.stack-products__headline.headline!= "Продукция"

      .stack-products__wrapper
        .stack-products__tabs.stack-products__tabs--runner(data-tabs='parent', data-delay='300')

          .stack-products__controls(data-tabs='controls', data-adaptive-runner="track")
            each stack in props
              button.stack-products__control(type='button', data-tabs='control', data-adaptive-runner="checkpoint")!= stack.headline

          .stack-products__content(data-tabs='content')
            each content in props
              .stack-products__element(data-tabs='element', data-slider-container="slider-stack-products")
                .swiper(data-stack-products-slider)
                  .stack-products__swiper-scrollbar.swiper-scrollbar.swiper-scrollbar--custom(data-scrollbar)
                  .swiper-wrapper
                    each item in content.items
                      .swiper-slide
                        +link-product(item)
