//- Base

include ./base/logo
include ./base/main-nav
include ./base/page-header
include ./base/page-footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-distributors
include ./modals/modal-thanks
include ./modals/modal-video
include ./modals/modal-trade
include ./modals/modal-added
include ./modals/modal-product
include ./modals/modal-order

//- Blocks

include ./blocks/link-download
include ./blocks/sub-links
include ./blocks/social-links
include ./blocks/intro
include ./blocks/card
include ./blocks/video
include ./blocks/slider-progress
include ./blocks/modals/distributor

include ./page-1/main-banner
include ./page-1/popular-brand
include ./page-1/slider-popular-brands
include ./page-1/main-intro
include ./page-1/main-features
include ./page-1/main-bestsellers
include ./page-1/main-map
include ./page-1/main-excursion
include ./page-1/main-contact-us
include ./page-1/vk-links
include ./page-1/main-bottom

include ./page-2/link-product
include ./page-2/stack-products
include ./page-2/catalog-products
include ./page-2/section-catalog

include ./page-4/section-awards

include ./page-5/excursion-page

include ./page-6/product-form
include ./page-6/product-tabs
include ./page-6/stack-products-extend
include ./page-6/catalog-products-extend
include ./page-6/section-catalog-extend

include ./page-10/section-documents

include ./page-11/link-article
include ./page-11/section-news

include ./page-12/section-article-slider
include ./page-12/section-article

include ./page-13/section-contacts

include ./page-14/job-advantage
include ./page-14/manager-contacts
include ./page-14/job-form
include ./page-14/job-position
include ./page-14/section-vacancies

include ./service/service-nav
include ./service/service-info
include ./service/service-description
include ./service/service-head
include ./service/page

//- Mixins

include ./mixins/btn
include ./mixins/field-num
include ./mixins/custom-input
include ./mixins/custom-file
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/shop-summary
