-
  const data = {
    serviceNavOne: [
      {
        src: "img/service/nav-1.svg",
        text: "Складская <br> обработка товара"
      }, {
        src: "img/service/nav-2.svg",
        text: "Продажа морозильного б/у оборудования",
      }, {
        src: "img/service/nav-3.svg",
        text: "Оказание транспортных услуг",
      }, {
        src: "img/service/nav-4.svg",
        text: "Продажа б/у оборудования и&nbsp;автотранспорта",
      }, {
        src: "img/service/nav-5.svg",
        text: "Прочее",
      }
    ],
    serviceNavTwo: [
      {
        src: "img/service/nav-1.svg",
        text: "Складская <br> обработка товаzра"
      }, {
        src: "img/service/nav-2.svg",
        text: "Продажа морозильного б/у обор223удования",
      }, {
        src: "img/service/nav-3.svg",
        text: "Оказание транспортных ус232луг",
      }, {
        src: "img/service/nav-4.svg",
        text: "Продажа б/у оборудования и&nbsp;автотранспорта",
      }, {
        src: "img/service/nav-5.svg",
        text: "Прочее",
      }
    ],

    service: [
      {
        title: "Складская обработка товара",
      }, {
        title: "Продажа морозильного Б/У оборудования",
      }, {
        title: "Оказание транспортных услуг по доставке товара в торговых точки (в т.ч. торговые сети)",
      }, {
        title: "Продажа Б/У оборудования и автотранспорта",
      }, {
        title: "Аренда земельных участков (в т.ч. под сетевое и телекоммуникативное оборудование)",
      }, {
        title: "Ответственное хранение низкотемпературных продуктов",
      }, {
        title: "Аренда офисов и нежилых помещений (в т.ч. под установку банкоматов, вендинговых автоматов и т.д.)",
      }, {
        title: "Аренда низкотемпературных складов",
      }
    ]
  }
  const cabinetNav = [
    {
      name: "История компании",
      href: "#",
      isActive: false,
    }, {
      name: "Производство мороженого",
      href: "#",
      isActive: false,
    }, {
      name: "О молоке",
      href: "#",
      isActive: false,
    }, {
      name: "Награды, сертификаты, благодарности",
      href: "#",
      isActive: false,
    }, {
      name: "Политика и цели  в области качества",
      href: "#",
      isActive: true,
    }, {
      name: "Юридическая информация",
      href: "#",
      isActive: false,
    }
  ]
